{% extends "layout-idv-signed-in.html" %}

{% set pageQuestion = "Call us to confirm your identity" %}

{% block pageTitle %}
  {{ pageQuestion }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageQuestion }}
      </h1>

      <p>Before we can start to assess your claim we need to check your identity. We check everyone's identity to protect from fraud.</p>

      <p>You’ll need to give some details about yourself, for example:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your name</li>
        <li>your National Insurance number, if you have one (you can find this 	on letters about tax, pensions and benefits)</li>
        <li>your date of birth</li>
        <li>your address</li>
      </ul>
      <p>Telephone: 0800 917 2222<br>
      Textphone: 0800 917 7777<br>
      <a href="">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 917 2222<br>
      British Sign Language (BSL) <a href="">video relay service</a> if you’re on a computer - find out how to <a href="">use the service on mobile or tablet</a><br>
      Calling from abroad: +44 191 218 7766 <br>
      Monday to Friday, 8am to 5pm<br>
      <a href="">Find out about call charges</a></p>

    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>
{% endblock %}
