{% extends "layout-idv.html" %}

{% set pageQuestion = "A 6-digit code has been texted to XXXX XXX 789" %}

{% block pageTitle %}
  {{ pageQuestion }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">A 6-digit code has been texted to mobile number ending 789</h1>

      <p>The code expires after 5 minutes.</p>

      <form class="form" action="create-password" method="post">

        {{ govukInput({
          label: {
            text: "Enter your 6-digit code",
            isPageHeading: false
          },
          id: "mobile-security-code",
          name: "mobile-security-code",
          type: "text",
          classes: "govuk-input--width-5"
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <p><a href="code-text-get-another">Get another code by text</a></p>

      <p><a href="code-email">Get another code by email</a></p>

    </div>
  </div>

{% endblock %}
