{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="panel--prototype">
      <h1 class="govuk-heading-m">
        PIP2 health condition or disability questions
      </h1>
      <p>In real life, a citizen would see a task list with questions about how their health condition or disability affect them.</p>
      <p>We won't go through them as part of the option F prototype.</p>
      <p>You can check the Apply for PIP health questions in the <a href="https://pip-starting.herokuapp.com/index-live-v1-0#pip2">private beta prototype</a> (password: gnitrats-pip).</p>
    </div>
    <a class="govuk-button" href="live-pip2/apply/confirmation">Continue</a>
  </div>
</div>
{% endblock %}
