{% extends "layout.html" %}

{% block pageTitle %}
  Granted humanitarian protection
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <form id="form" method="post" action="#">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Have you been granted humanitarian or refugee protection?
              </h1>
            </legend>

            <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="refugee-1" name="refugee" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="refugee-1">
                  Yes
                </label>
              </div> <!-- govuk-radios__item -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="refugee-2" name="refugee" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="refugee-2">
                  No
                </label>
              </div> <!-- govuk-radios__item -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="refugee-3" name="refugee" type="radio" value="Not sure">
                <label class="govuk-label govuk-radios__label" for="refugee-3">
                  I'm not sure
                </label>

              </div> <!-- govuk-radios__item -->

            </div> <!-- govuk-radios govuk-radios -->
          </fieldset>
        </div> <!-- govuk-form-group -->
        <input type="submit" class="govuk-button" value="Save and continue" id="submit">

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
  </form>

{% endblock %}
