{% extends "layout.html" %}

{% block pageTitle %}
  We need to get in touch with you
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <form id="form" method="post" action="#">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          We need to get in touch with you
        </h1>

        <p>You might be able to get PIP, but we need to talk to you about your residence in the UK or time you’ve spent abroad before we can decide.</p>

        <p>It’s easier to speak to you to get the information we need. This is because the rules around claiming PIP can be complicated if you’re not a UK citizen or have been abroad for a significant period.</p>

        <p>Enter your contact details and someone from the Department for Work and Pensions will call you in the next xx days.</p>

        <p>When we get in touch, we’ll tell you what information we need and what to do next.</p>

        <input type="submit" class="govuk-button" value="Enter contact details" id="submit">

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
  </form>

{% endblock %}
