{% extends "layout-signed-in-v7.html" %}

{% block pageTitle %}
Alternative contact format paper
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-v7.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Which other format do you need?
                        </h1>
                    </legend>
                    <div id="contact-hint" class="govuk-hint">
                        Select one option.
                    </div>
                    <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="alt-format-paper-4" name="alt-format-paper" type="radio"
                            value="Accessible PDF" data-aria-controls="conditional-contact-2">
                        <label class="govuk-label govuk-radios__label" for="alt-format-paper-4">
                            Accessible PDF
                        </label>
                    </div> <!-- govuk-radios__item -->

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="alt-format-paper-5" name="alt-format-paper" type="radio"
                            value="Email" data-aria-controls="conditional-contact-5">
                        <label class="govuk-label govuk-radios__label" for="alt-format-paper-5">
                            Email
                        </label>
                    </div> <!-- govuk-radios__item -->
                    
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="alt-format-paper-6" name="alt-format-paper" type="radio"
                            value="Other" data-aria-controls="conditional-contact-6">
                        <label class="govuk-label govuk-radios__label" for="alt-format-paper-5">
                            Other
                        </label>
                    </div> <!-- govuk-radios__item -->
                  </div>  <!-- govuk-radios --> 
            </fieldset>
        </div> <!-- govuk-form-group -->

        <p class="govuk-body">The Department for Work and Pensions may contact you to discuss your communication needs.
        </p>

        <input type="submit" class="govuk-button" value="Save and continue" id="submit">


    </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}