{% extends "layout-signed-in-v11.html" %}

{% block pageTitle %}
Alternative contact format audio
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-v11.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                      Which type of audio format do you need?
                    </h1>
                  </legend>
                  <div id="changed-name-hint" class="govuk-hint">
                    Select one option
                  </div>
                  <div class="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="alt-format-audio-1" name="alt-format-audio" type="radio" value="Audio cassette">
                      <label class="govuk-label govuk-radios__label" for="alt-format-audio-1">
                        Audio cassette
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="alt-format-audio-2" name="alt-format-audio" type="radio" value="Audio CD">
                      <label class="govuk-label govuk-radios__label" for="alt-format-audio-2">
                        Audio CD
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="alt-format-audio-3" name="alt-format-audio" type="radio" value="Audio DVD">
                      <label class="govuk-label govuk-radios__label" for="alt-format-audio-3">
                        Audio DVD
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="alt-format-audio-4" name="alt-format-audio" type="radio" value="Audio MP3">
                      <label class="govuk-label govuk-radios__label" for="alt-format-audio-4">
                        Audio MP3
                      </label>
                    </div>
                  </div> <!-- govuk-radios -->

                </fieldset>
              </div> <!-- govuk-form-group -->

              <p class="govuk-body">The Department for Work and Pensions may contact you to discuss your communication needs.</p>

            <input type="submit" class="govuk-button" value="Save and continue" id="submit">

        </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}
