{% extends "layout-signed-in-v11.html" %}

{% block pageTitle %}
Hospice address
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-v11.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Hospice address
            </h1>
          </legend>

          <div class="govuk-form-group">
            <label class="govuk-label" for="hospice-name">
              Hospice name <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="hospice-name" name="hospice-name" type="text"
              autocomplete="address-line1">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="hospice-address-line-1">
              Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="hospice-address-line-1" name="hospice-address-line-1" type="text"
              autocomplete="address-line1">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="hospice-address-line-2">
              <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
            </label>
            <input class="govuk-input" id="hospice-address-line-2" name="hospice-address-line-2" type="text"
              autocomplete="address-line2">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="hospice-address-town">
              Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="hospice-address-town" name="hospice-address-town" type="text"
              autocomplete="address-level2">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="hospice-address-county">
              County
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="hospice-address-county" name="hospice-address-county" type="text">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="hospice-address-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="hospice-address-postcode" name="hospice-address-postcode" type="text"
              autocomplete="postal-code">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="country">
              Country
            </label>
            <select class="govuk-select" id="country" name="country">
              <option value="updated" selected>Select a country</option>
              {% for country in countries %}
              <option value="{{country}}">{{country}}</option>
              {% endfor %}
            </select>
          </div> <!-- govuk-form-group -->

        </fieldset>
      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Save and continue" id="submit">

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}
