{% extends "layout.html" %}

{% block pageTitle %}
  Contact details
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <form id="form" method="post" action="#">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  What are your contact details?
                </h1>
              </legend>

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-line-1">
                  Phone number <span class="govuk-visually-hidden">line 1 of 2</span>
                </label>
                <div id="dob-hint" class="govuk-hint">
                  Enter a phone number we can speak to you or leave a message on including the dialling code.
                </div>
                <input class="govuk-input govuk-!-width-two-thirds" id="phone-number" name="complex-contact-phone-number" type="text" autocomplete="phone-number">
              </div> <!-- govuk-form-group -->

              <div class="govuk-form-group">
                <label class="govuk-label" for="address-town">
                  Textphone number (optional)
                </label>
                <div id="dob-hint" class="govuk-hint">
                  Textphones do not receive text messages from mobile phones.<br>
                  They're for people who cannot speak or hear clearly.
                </div>
                <input class="govuk-input govuk-!-width-two-thirds" id="textphone" name="complex-contact-textphone" type="text" autocomplete="textphone">
              </div> <!-- govuk-form-group -->

            </fieldset>
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="call-times">
                Times you're not available
              </label>
            </h1>
            <div id="call-times-hint" class="govuk-hint">
              Someone from the Department for Work and Pensions will call you in the next few days between 8am and 8pm, Monday to Friday.
            </div>
            <input class="govuk-input govuk-!-width-full" id="call-times" name="call-times" type="text" aria-describedby="call-times-hint">
          </div> <!-- govuk-form-group -->

        <input type="submit" class="govuk-button" value="Save and continue" id="submit">

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
  </form>

{% endblock %}
