{% extends "layout-signed-in-v7.html" %}

{% block pageTitle %}
  Moving around check answers
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-experimental.html" %}
{% endblock %}

{% block content %}


    <div class="govuk-width-container">
       
      
        <main class="govuk-main-wrapper " id="main-content" role="main">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">
      
              <h1 class="govuk-heading-l">Check your answers </h1>
              <h2 class="govuk-heading-m">Moving around</h2>
             
      
              <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                   Details how your condition or disability affects you moving around
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['movingaround-details'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="planning-a-journey-detail">
                      Change<span class="govuk-visually-hidden"> details</span>
                    </a>
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        How far can you walk using any aids or appliances you need?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['movingaround-info'] }}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="planning-a-journey-detail">
                        Change<span class="govuk-visually-hidden"> details</span>
                      </a>
                    </dd>
                </div>                
               </dl> 
      
              <form action="/experimental/linear_journey/check-answers" method="post" novalidate>
      
                <input type="hidden" name="answers-checked" value="true">
      
                <button class="govuk-button" data-module="govuk-button">
                  Save and continue
                </button>
      
              </form>
      
            </div>
          </div>
        </main>
      </div>


{% endblock %}
