{% set pageTitle = "What health conditions or disabilities do you have?" %}

{% extends "layout-signed-in-mvp.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "live-pip2-v1-0/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-experimental.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/experimental/alternative_tasklist_idea_1_1/conditions-details" method="post" novalidate>

      {% call govukFieldset({
        classes: 'moj-add-another__item',
        legend: {
          text: 'What health condition or disability do you have?',
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}

      <p>Conditions and disabilities include:</p>
      <ul class="govuk-list govuk-list--bullet">
          <li>physical conditions, like arthritis, heart disease or diabetes</li>
          <li>blindness and sight impairment</li>
          <li>hearing and speech difficulties</li>
          <li>learning, developmental or behavioural difficulties</li>
          <li>cognitive impairment</li>
          <li>mental health conditions, like depression, anxiety or bipolar disorder</li>
          <li>neurological conditions, like Parkinson's or epilepsy</li>
      </ul>

      {{ govukInput({
        id: 'condition-name-1',
        name: 'condition-name-1',
        label: {
          html: 'Name of your first condition or disability',
          classes: 'govuk-!-font-weight-bold'
        },
        hint: {
          html: "For example, kidney failure. <br>
                 You can add other conditions and disabilities later if you need to."
        }
      }) }}

      {{ govukInput({
        id: 'condition-date-1',
        name: 'condition-date-1',
        classes: "govuk-!-width-two-thirds",
        label: {
          html: 'Approximate start date',
          classes: 'govuk-!-font-weight-bold'
        },
        hint: {
          text: "For example, about 14 months ago."
        }
      }) }}

      {% endcall %}

      {{ govukButton({
        text: 'Save and continue'
      }) }}

    </form>

    <!--{% include "live-pip2-v1-0/about-your-health/_return-link.html" %}-->


  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
