<h2 class="govuk-heading-m">Get help</h2>
<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with applying
        </span>
    </summary>
    <div class="govuk-details__text">
        <p class="govuk-body">You can ask a friend, family member, or charity or support organisation to help you
            make your claim.</p>
        <p class="govuk-body">Contact the Department for Work and Pensions (DWP) if:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>you need more time to complete your claim</li>
            <li>you do not want to claim online and need a paper form</li>
            <li>you need to post any evidence to support your claim</li>
        </ul>
    </div> <!-- govuk-details__text -->
</details>
<h2 class="govuk-heading-m">Contact DWP</h2>
<div class="govuk-inset-text">
    <p class="govuk-body">Telephone: 0800 121 6279</p>
    <p class="govuk-body">Textphone: 0800 121 4493</p>
    <p class="govuk-body">Relay UK (if you cannot hear or speak on the phone): 18001 then 0800 121 6279</p>
    <p class="govuk-body">Video relay service for British Sign Language (BSL) users - <a href="#"
            class="govuk-link">check you can use the service</a></p>
    <p>Monday to Friday, 9am to 5pm.</p>
    <a href="#" class="govuk-link">Find out about call charges</a>
</div> <!-- govuk-inset-text -->