<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul class="language-toggle">
      <li class="govuk-link govuk-!-font-size-19 language__link">
        English
      </li>
      <li class="govuk-link govuk-!-font-size-19 language__link">
        <a href="">Cymraeg</a>
      </li>
    </ul>
  </div>
</div>