{% set pageTitle = "What health conditions or disabilities do you have?" %}

{% extends "layout-p5-v12.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5-v12/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5-v12/_beta-banner.html" %}
  {% include "includes/back-link-v12.html" %}
{% endblock %}

{% block content %}

<style>
.link-position {
width: 130%;
}

</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" novalidate>
      <!-- <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      {% for query in data['queriesMedication'] %}
      <dt class="govuk-summary-list__key">
        Medication name
      </dt>
      <dd class="govuk-summary-list__value">
        {{ query.medication }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden">medicaton name</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Dosage
      </dt>
      <dd class="govuk-summary-list__value">
        {{ query.dosage }}
      </dd>
          {% endfor %}
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden">dosage</span>
        </a>
      </dd>
    </div> -->

    <h1 class="govuk-heading-l">Check your answers</h1>


    <h2 class="govuk-heading-m">Help with applying</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you need help from someone else to communicate with us?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['add-support-communicating'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="add-support-communicating">
            Change<span class="govuk-visually-hidden"> if you need help communicating</span>
          </a>
        </dd>
      </div> <!-- govuk-summary-list__row -->

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Do you usually need help from someone else to fill in forms or understand letters?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['add-support'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="add-support">
            Change<span class="govuk-visually-hidden"> if you need help </span>
          </a>
        </dd>
      </div> <!-- govuk-summary-list__row -->

      {% if data['add-support'] === 'Yes' %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Is someone helping you with this claim?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['add-support-help'] }}<br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="add-support-help">
            Change<span class="govuk-visually-hidden"> is someone helping you</span>
          </a>
        </dd>
      </div> <!-- govuk-summary-list__row -->
      {% endif %}

      {% if data['add-support-help'] === 'Yes' %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Helper's name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['add-support-first-name'] }}<br>
          {{ data['add-support-last-name'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="add-support-name">
            Change<span class="govuk-visually-hidden"> fisrt name</span>
          </a>
        </dd>
      </div> <!-- govuk-summary-list__row -->
      {% endif %}

      {% for query in data['queriesCondition'] %}
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Condition name <br>
            Start date
          </dt>
          <dd class="govuk-summary-list__value">
            {{ query.condition }} <br>
            {{ query.startDate }}
          </dd>

          <dd class="govuk-summary-list__actions">
              <div class="link-position">
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="condition-additional"><span aria-hidden="true">Change</span><span class="govuk-visually-hidden">Change condition</span></a></li>
              <li class="govuk-summary-list__actions-list-item"><a class="govuk-link" href="#"><span aria-hidden="true">Remove</span><span class="govuk-visually-hidden">Remove conditon</span></a></li>
            </ul>
            </div>
          </dd>
        </div>
        {% endfor %}
    </dl>

    <p>Make sure you've checked your answers before you save and continue.</p>

<!-- table for medications and dosage -->
<!-- <table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m"></caption>

  <tbody class="govuk-table__body">
    {% for query in data['queriesCondition'] %}
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Condition name</th>
      <td class="govuk-table__cell">{{ query.condition }}</td>
      <td class="govuk-table__cell"><a href="condition-additional">Change</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Start date</th>
      <td class="govuk-table__cell">{{ query.startDate }}</td>
      <td class="govuk-table__cell"><a href="condition-additional">Change</a></td>
    </tr>
    <!-- <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{{ query.medication }} side effects</th>
      <td class="govuk-table__cell">{{ query.sideEffects }}</td>
      <td class="govuk-table__cell"><a href="#">Change</a></td>
    </tr> -->
    <!-- {% endfor %}
  </tbody>
</table> -->

    <br>
      <!-- {{ govukButton({
        text: 'Save and continue',
        href: "list-1"
      }) }} -->

          <p><a href="name" class="govuk-button">Save and continue</a></p>

    </form>
    <!--{% include "v12/condition-questions/option-three/_return-link.html" %}-->

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
