{% extends "layout-signed-in-v13.html" %}

{% block pageTitle %}
Motability Scheme
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-signed-in.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

          <h1 class="govuk-heading-xl">
              Motability Scheme
          </h1>

          <p class="govuk-body">The Motability Scheme lets disabled people lease a car, scooter or powered wheelchair using all or some of their PIP mobility payments.</p>
          <p class="govuk-body">The scheme is operated by a not for profit organisation and is regulated by the Motability Charity.</p>
          <p class="govuk-body">If you would like more information we will share your name and address with the scheme operators.</p>
          <p class="govuk-body">If you're eligible and do not apply for the scheme, they will send you information about it in the post in around 12 months.</p>

          <fieldset class="govuk-fieldset" aria-describedby="motability-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-heading-m">If eligible, would you like the Motability Scheme to send you information about it?</h2>
            </legend>
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="motability-1" name="motability" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="motability">
                  Yes
                </label>
              </div> <!-- govuk-radios__item -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="motability-2" name="motability" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="motability-2">
                  No
                </label>
              </div> <!-- govuk-radios__item -->
            </div> <!-- govuk-radios govuk-radios -->

          </fieldset>

        </div> <!-- govuk-form-group -->

        <p>If you change your mind about receiving Motability Scheme information contact the Department for Work and Pensions (DWP). We will send you an email when you submit your claim which will include these contact details.</p>
        <h2 class="govuk-heading-m">Submit the first stage of your claim</h2>
        <p>You are now ready to submit the first stage of your claim. </p>

        <input type="submit" class="govuk-button" data-module="govuk-button" value="Submit" id="submit">

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

</form>

{% endblock %}
