{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <h1 class="govuk-heading-l">Check your answers</h1>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                First name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-first-name'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> first name</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Last name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-last-name'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                National Insurance number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-nino'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> National Insurance number</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-dob-day'] }} - {{ data['afse-dob-month'] }} - {{ data['afse-dob-year'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-address-line-1'] }}<br>
                {{ data['afse-address-line-2'] }}<br>
                {{ data['afse-address-county'] }}<br>
                {{ data['afse-address-postcode'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Can we write to them at this address?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-safe-address'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> safe address</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->

            {% if data['afse-safe-address'] === 'No' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-other-address-line-1'] }}<br>
                {{ data['afse-other-address-line-2'] }}<br>
                {{ data['afse-other-address-county'] }}<br>
                {{ data['afse-other-address-postcode'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Phone number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-phone-number'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> phone number</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Contact preference
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-contact-preference'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> contact preference</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Do they need another communication format such as Braille, large print or CD audio?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-communication-format'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> communication format</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->

            {% if data['afse-communication-format'] === 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What communication format do they need?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-communication-format']['afse-format-type'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> other communication format</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is their nationality?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-nationality'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> nationality</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->

            {% if data['nationality'] === 'Another nationality' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which nationality are they?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-nationality-extra'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> another nationality</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which country do they normally live in?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-country'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> where they live</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Have they been abroad for more than 4 weeks at a time in the last 3 years?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['afse-outside-britain'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> time abroad</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
          </dl>

          <input type="submit" class="govuk-button"
            value="Confirm and continue to how your disability or condition affects you" id="submit">
        </div> <!-- govuk-grid-column-two-thirds-from-desktop -->
      </div> <!-- govuk-grid-row -->

    </main>
  </div> <!-- govuk-width-container -->

</form>

{% endblock %}
