{% extends "layout-signed-in-v7.html" %}

{% block pageTitle %}
Living in UK
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
        data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#living-in-uk-1">Select yes if you started living in the UK before 1 January 2021</a>
            </li>
          </ul>
        </div>
      </div> <!-- govuk-error-summary -->

      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Did you start living in the UK before 1 January 2021?
            </h1>
          </legend>
          <div id="living-in-uk" class="govuk-hint">
            The UK is England, Scotland, Wales and Northern Ireland.
          </div>
          <span id="add-support-communicating-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>Select yes if you started living in the UK before 1 January 2021
          </span>
          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="living-in-uk-1" name="living-in-uk" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="living-in-uk-1">
                Yes
              </label>
            </div> <!-- govuk-radios__item -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="living-in-uk-2" name="living-in-uk" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="living-in-uk-2">
                No
              </label>
            </div> <!-- govuk-radios__item -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="living-in-uk-3" name="living-in-uk" type="radio" value="Not sure">
              <label class="govuk-label govuk-radios__label" for="living-in-uk-3">
                I'm not sure
              </label>
            </div> <!-- govuk-radios__item -->
          </div> <!-- govuk-radios govuk-radios -->
        </fieldset>
      </div> <!-- govuk-form-group -->
      <input type="submit" class="govuk-button" value="Save and continue" id="submit">

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}
