{% extends "layout-signed-in-v7.html" %}

{% block pageTitle %}
Alternative contact format paper
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-v7.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Which other format do you need?
                        </h1>
                    </legend>
                    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="alt-format-paper-1" name="alt-format-paper"
                                type="radio" value="Coloured paper" data-aria-controls="conditional-paper">
                            <label class="govuk-label govuk-radios__label" for="alt-format-paper-1">
                                Coloured paper
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                            id="conditional-paper">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="paper-details">
                                    Give details
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="paper-details"
                                    name="paper-details" type="text">
                            </div> <!-- govuk-form-group -->
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="alt-format-paper-2" name="alt-format-paper"
                                type="radio" value="Large print - 16 font">
                            <label class="govuk-label govuk-radios__label" for="alt-format-paper-2">
                                Large print &ndash; 16 font
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="alt-format-paper-3" name="alt-format-paper"
                                type="radio" value="Large print with custom font" data-aria-controls="conditional-custom">
                            <label class="govuk-label govuk-radios__label" for="alt-format-paper-3">
                                Large print with a custom font
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                            id="conditional-custom">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="custom-details">
                                    Give details
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="custom-details"
                                    name="custom-details" type="text">
                            </div> <!-- govuk-form-group -->
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="alt-format-paper-4" name="alt-format-paper"
                                type="radio" value="Accessible PDF">
                            <label class="govuk-label govuk-radios__label" for="alt-format-paper-4">
                                Accessible PDF
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="alt-format-paper-5" name="alt-format-paper"
                                type="radio" value="Email">
                            <label class="govuk-label govuk-radios__label" for="alt-format-paper-5">
                                Email
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="alt-format-paper-6" name="alt-format-paper"
                                type="radio" value="Other" data-aria-controls="conditional-format">
                            <label class="govuk-label govuk-radios__label" for="alt-format-paper-6">
                                Other
                            </label>
                        </div>
                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
                            id="conditional-format">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="format-details">
                                    Give details
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="format-details"
                                    name="format-details" type="text">
                            </div> <!-- govuk-form-group -->
                        </div>
                    </div> <!-- govuk-radios govuk-radios--conditional -->

                </fieldset>
            </div> <!-- govuk-form-group -->


            <input type="submit" class="govuk-button" value="Save and continue" id="submit">

        </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}