{% extends "layout.html" %}

{% block pageTitle %}
  Apply
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a href="eligible" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form id="form" method="post" action="apply">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Personal Independent Payment (PIP)
        </h1>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p>We'll need to ask you for some more details about them and how their condition or disability affects them. You'll be able save your progress and come back to it if you can't do it all in one g.</p>



        <input type="submit" class="govuk-button" value="Continue" id="submit">

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
  </form>

{% endblock %}
