{% extends "layout.html" %}

{% block pageTitle %}
  Nationality
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  <a href="contact-details" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <form id="form" method="post" action="#">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

          

        <input type="submit" class="govuk-button" value="Continue" id="submit">

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
  </form>

{% endblock %}
