{% extends "layout-signed-in-v6.html" %}

{% block pageTitle %}
Help and contact
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Help and contacts</h1>

    <h2 class="govuk-heading-m">If you need a paper form or no longer want to apply</h2>

    <p>Call the PIP enquiry line if:
    <ul class="govuk-list govuk-list--bullet">
      <li>you would prefer to fill in and post a paper form</li>
      <li>you no longer want to apply for PIP</li>
    </ul>

    <h2 class="govuk-heading-m">Contacts</h2>
    {# <p>Call the PIP enquiry line if you would like to fill in and post a paper form and your evidence instead.</p> #}
    <div class="indent-hairline">
      <p><strong><abbr title="Personal Independence Payment">PIP</abbr> enquiry line</strong><br>
        Telephone: 0800 121 4433<br>
        Textphone: 0800 121 4493
        <a href="http://ngts.org.uk/"><abbr title="Next Generation Text">NGT</abbr> text relay</a> (if you cannot hear
        or speak on the phone): 18001 then 0800 121 4433<br>
        <a href="https://main.signvideo.me/app/8/10031">Video relay service</a> for British Sign Language (<abbr
          title="British Sign Language">BSL</abbr>) users - <a href="https://www.youtube.com/watch?v=Osx7FFxFpNY">check
          you can use the service</a><br>
        Calling from abroad: +44 191 218 7766 <br>
        Monday to Friday, 9am to 5pm<br>
        <a href="/call-charges">Find out about call charges</a>
      </p>
      <p>Available weekdays 8am to 6pm.<br>
        Closed public holidays.</p>
    </div> <!-- indent-hairline -->

  </div> <!-- govuk-grid-column-two-thirds -->
</div> <!-- govuk-grid-row -->
{% endblock %}