{% extends "layout-signed-in-v6.html" %}

{% block pageTitle %}
Hospital address
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Hospital or hospice address
            </h1>
          </legend>

          <div class="govuk-form-group">
            <label class="govuk-label" for="hospital-name">
              Hospital or hospice name <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="hospital-name" name="hospital-name" type="text"
              autocomplete="address-line1">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="hospital-ward">
              Ward or room<span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="hospital-ward" name="hospital-ward" type="text"
              autocomplete="address-line1">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="hospital-address-line-1">
              Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="hospital-address-line-1" name="hospital-address-line-1" type="text"
              autocomplete="address-line1">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="hospital-address-line-2">
              <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
            </label>
            <input class="govuk-input" id="hospital-address-line-2" name="hospital-address-line-2" type="text"
              autocomplete="address-line2">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="hospital-address-town">
              Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="hospital-address-town" name="hospital-address-town" type="text"
              autocomplete="address-level2">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="hospital-address-county">
              County
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="hospital-address-county" name="hospital-address-county" type="text">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="hospital-address-postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-input--width-10" id="hospital-address-postcode" name="hospital-address-postcode" type="text"
              autocomplete="postal-code">
          </div> <!-- govuk-form-group -->

        </fieldset>
      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Save and continue" id="submit">

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}