{% set pageTitle = "What health conditions or disabilities do you have?" %}

{% extends "layout-p5-v12.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5-v12/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5-v12/_beta-banner.html" %}
  {% include "includes/back-link-v12.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" novalidate>

    {{ govukRadios({
      idPrefix: "treatments",
      name: "further-treatments",
      fieldset: {
        legend: {
          text: "Have you had, are you having, or are you waiting for any other treatments?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
              text: "For example, physiotherapy, counselling, talking therapy, kidney dialysis or radio therapy. Include NHS and privately funded treatment."
          },
      items: [
        {
          value: "Yes",
          text: "Yes"
        },
        {
          value: "No",
          text: "No"
        },
        {
          value: "I'm not sure",
          text: "I'm not sure"
        }
      ]
    }) }}

    {{ govukButton({
      text: 'Save and continue'
    }) }}

    </form>

{% include "v12/condition-questions/option-four/_return-link.html" %}
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
