{% extends "layout-email.html" %}

{% block header %}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Discussion</h1>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <a class="usability-testing-link" href="live-pip1/check-answers"></a>
  </div>

{% endblock %}

{% block footer %}{% endblock %}
