{% extends "layout-idv.html" %}

{% set pageQuestion = "Create your password" %}

{% block pageTitle %}
  {{ pageQuestion }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageQuestion }}</h1>

      <form class="form" action="signed-in" method="post">

        <p>Enter a password that has:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>8 or more characters</li>
          <li>lower case and capital letters</li>
          <li>at least 1 number</li>
        </ul>

        {{ govukInput({
          label: {
            text: "Enter password",
            isPageHeading: false
          },
          id: "password",
          name: "password",
          type: "text",
          spellcheck: false,
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Confirm password",
            isPageHeading: false
          },
          id: "confirm-password",
          name: "confirm-password",
          type: "text",
          spellcheck: false,
          classes: "govuk-input--width-20"
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
