{% extends "layout-signed-in-v11.html" %}

{% block pageTitle %}
Do you need help to fill in forms
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-v11.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Do you need help to fill in forms or understand letters?
            </h1>
          </legend>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Get help
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>If you need someone to help you fill in this claim or to read any letters we send, you could ask a friend, family member or support organisation. If you need help using this service contact:</p>
              <div class="">
                <!-- <p><strong><abbr title=""></abbr>[Name of model office helpline TBC] </strong><br> -->
                  Telephone: 0800 121 6279<br>
                  Textphone: 0800 121 4493<br>
                  <a href="https://www.relayuk.bt.com/">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 6279<br>
                  <a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">Video relay service</a> for British Sign Language (<abbr
                    title="British Sign Language">BSL</abbr>) users - <a href="https://www.dalanguages.co.uk/dwp-bsl/">check
                    you can use the service</a><br>
                  Monday to Friday, 9am to 5pm.<br>
                  <a href="/call-charges">Find out about call charges</a>
              </div> <!-- indent-hairline -->
            </div> <!-- govuk-details__text -->
          </details>

          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-support" name="add-support" type="radio"
                value="Yes">
              <label class="govuk-label govuk-radios__label" for="add-support">
                Yes
              </label>
            </div> <!-- govuk-radios__item -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-support-2" name="add-support" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="add-support-2">
                No
              </label>
            </div> <!-- govuk-radios__item -->
          </div> <!-- govuk-radios -->
        </fieldset>
      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Save and continue" id="submit">

    </div> <!-- govuk-grid-column-two-thirds -->

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m">Get help</h2>
      <p class="govuk-body">You can ask a friend, family member, or charity or support organisation to help you make your claim.</p>
      <p class="govuk-body">Contact the Department for Work and Pensions (DWP) if:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>you need more time to complete your claim</li>
            <li>you do not want to claim online and need a paper form</li>
            <li>you need to post any evidence to support your claim</li>
          </ul>

          <h2 class="govuk-heading-m">Contact DWP</h2>
          <p class="govuk-body">Telephone: 0800 121 6279</p>
          <p class="govuk-body">Textphone: 0800 121 4493</p>
          <p class="govuk-body">Relay UK (if you cannot hear or speak on the phone): 18001 then 0800 121 6279</p>
          <p class="govuk-body">Video relay service for British Sign Language (BSL) users - <a href="#" class="govuk-link">check you can use the service</a></p>
          <p>Monday to Friday, 9am to 5pm.</p>
          <a href="#" class="govuk-link">Find out about call charges</a>

    </div>
  </div> <!-- govuk-grid-column-one-third -->
  </div> <!-- govuk-grid-row -->
</form>

{% endblock %}
