{% extends "layout-signed-in-v11.html" %}

{% block pageTitle %}
Confirmation
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Information sent"
      }) }}

      <p class="govuk-body">Your details have been sent successfully. Your reference is your National Insurance number.</p>

      <h1 class="govuk-heading-m">What happens next</h1>
      <p class="govuk-body">The Department for Work and Pensions (DWP) will contact you by phone to discuss the best way for you to claim.</p>
      <p class="govuk-body">We will call you between xx am and xx pm in the next x days.</p>

      <p>If you do not hear from us, contact DWP.</p>


      <h2 class="govuk-heading-m">Contact DWP</h2>
        <div class="govuk-details__text">
          <div class="">
            <!-- <p><strong><abbr title=""></abbr>[Name of model office helpline TBC] </strong><br> -->
              Telephone: 0800 121 6279<br>
              Textphone: 0800 121 4493<br>
              <a href="https://www.relayuk.bt.com/">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 6279<br>
              <a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">Video relay service</a> for British Sign Language (<abbr
                title="British Sign Language">BSL</abbr>) users - <a href="https://www.dalanguages.co.uk/dwp-bsl/">check
                you can use the service</a><br>
              Monday to Friday, 9am to 5pm.<br>
              <a href="/call-charges">Find out about call charges</a>
          </div> <!-- indent-hairline -->
        </div> <!-- govuk-details__text -->



      <p class="govuk-body">It is now safe to close this window.</p>


    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}
