{% set pageTitle = "What health conditions or disabilities do you have?" %}

{% extends "layout-p5-v12.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5-v12/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5-v12/_beta-banner.html" %}
  {% include "includes/back-link-v12.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" novalidate>

      <h1 class="govuk-heading-l">What other treatments have you had, are having, or have planned?</h1>
        <p class="govuk-hint">For example, physiotherapy, kidney dialysis or radio therapy.
                              Include NHS and privately funded treatment.</p>

      {{ govukInput({
        id: 'treatments',
        name: "treatment-name",
        label: {
          html: 'Treatment name'
        }
      }) }}


      {{ govukButton({
        text: 'Save and continue'
      }) }}

    </form>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
