{% extends "layout-signed-in-mvp.html" %}

{% block pageTitle %}
Sorry, there is a problem
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-error-page.html" %}
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
        <p class="govuk-body">Try again later.</p>

        <p class="govuk-body">
          If the problem persists, contact the Department for Work and Pensions.
        </p>

        <div class="indent-hairline">
          <h2 class="govuk-heading-m">Contact DWP</h2>
          <p>Telephone: 0800 121 6279<br>
          Textphone: 0800 121 4493<br>
          <a href="https://www.relayuk.bt.com//">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 4433<br>
          <a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">Video relay service</a> for British Sign Language (<abbr title="British Sign Language">BSL</abbr>) users - <a href="https://www.dalanguages.co.uk/dwp-bsl/">check you can use the service</a><br>
          <!-- Closed on public holidays.<br> -->
          <a href="/call-charges">Find out about call charges</a>
          </p>
        </div> <!-- indent-hairline -->
      </div>
    </div>
  </main>
</div>

  </div> <!-- govuk-grid-column-two-thirds -->
</div> <!-- govuk-grid-row -->
{% endblock %}
