{% extends "layout.html" %}

{% block pageTitle %}
  Starting your application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}
  <form id="form" method="post" action="start">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Apply for Personal Independence Payment (PIP)
        </h1>

        <h2 class="govuk-heading-l">Before you start</h2>
        <p>Use this service to check if you’re eligible and apply for PIP.</p>
        <p>You should only use this service if the Department for Work and Pensions (DWP) has asked you to.</p>

        <h2 class="govuk-heading-l">What to expect</h2>
        <p>You will be asked to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>answer a few basic questions to check if you’re eligible for PIP before you apply</li>
          <li>provide some personal details to start your application</li>
          <li>confirm your identity </li> 
          <li>create a password so you can save your progress</li>
          <li>give details about how your health condition or disability affects you</li>
        </ul>

        <h2 class="govuk-heading-l">Other ways to apply</h2>
        <p>DWP - PIP claims <br>
          Telephone: 0800 917 2222 <br>
          Textphone: 0800 917 7777 <br>
          <a href="#">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 917 2222 <br>
          <a href="#">Video relay service</a> for British Sign Language (BSL) users - <a href="#">check you can use the service</a>
          Calling from abroad: +44 191 218 7766 <br>
          Monday to Friday, 8am to 5pm <br>
          <a href="#">Find out about call charges</a></p>

        <h2 class="govuk-heading-l">After you apply</h2>  
        <p>DWP will look at your information.</p>
        <p>You might be invited to an assessment appointment to make sure DWP has enough information.</p>
        <p>Once DWP has all the information it needs to make a decision it will write to you to let you know if you’re entitled to PIP and how much you will get.</p>

        <input type="submit" class="govuk-button govuk-!-margin-top-6" value="Continue" id="submit">

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
  </form>

{% endblock %}
