{% extends "layout.html" %}

{% block pageTitle %}
  Health condition for over 3 months
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <form id="form" method="post" action="#">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                When did you start finding it hard to do every-day tasks or get around?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="over-3-months-1" name="over-3-months" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="over-3-months-1">
                  Less than 3 months ago
                </label>
              </div> <!-- govuk-radios__item -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="over-3-months-2" name="over-3-months" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="over-3-months-2">
                  3 months or more ago
                </label>
              </div> <!-- govuk-radios__item -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="over-3-months-3" name="over-3-months" type="radio" value="Not sure">
                <label class="govuk-label govuk-radios__label" for="condition-3">
                  I’m not sure
                </label>
              </div> <!-- govuk-radios__item -->
            </div> <!-- govuk-radios govuk-radios -->
          </fieldset>
        </div> <!-- govuk-form-group -->
        <input type="submit" class="govuk-button" value="Continue" id="submit">

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
  </form>

{% endblock %}
