{% extends "layout.html" %}

{% block pageTitle %}
  Over 16
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <form id="form" method="post" action="">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                How old are you?
              </h1>
            </legend>
            <p>Link to <a href="#">check your State pension age (opens in new tab)</a>.</p>

            <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="over-16-1" name="over-16" type="radio" value="Answer 1">
                <label class="govuk-label govuk-radios__label" for="over-16-1">
                  Under 16
                </label>
              </div> <!-- govuk-radios__item -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="over-16-2" name="over-16" type="radio" value="Answer 2">
                <label class="govuk-label govuk-radios__label" for="over-16-2">
                  Over 16 but below State Pension age
                </label>
              </div> <!-- govuk-radios__item -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="over-16-3" name="over-16" type="radio" value="Answer 3">
                <label class="govuk-label govuk-radios__label" for="over-16-3">
                  Over State Pension age
                </label>
              </div> <!-- govuk-radios__item -->
            </div> <!-- govuk-radios govuk-radios -->
          </fieldset>
        </div> <!-- govuk-form-group -->
        <input type="submit" class="govuk-button" value="Continue" id="submit">

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
  </form>

{% endblock %}
