{% set pageTitle = "Moving around" %}

{% extends "layout-p5-v12.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5-v12/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5-v12/_beta-banner.html" %}
  {% include "includes/back-link-v12.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/p5-v12/moving-around/index-answer" method="post" novalidate>

      <h1 class="govuk-heading-l">Moving around</h1>

      <p>This means how well you can walk without any specialist equipment or support from another person. </p>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "movingaround-question",
        fieldset: {
          legend: {
            text: "Does your condition affect you moving around?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("movingaround-question", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("movingaround-question", "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    {% include "p5-v12/moving-around/_return-link.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
