dressing-and-undressing{% set pageTitle = "Does your condition affect you dressing or undressing?" %}

{% extends "layout-p5-v12.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5-v12/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5-v12/_beta-banner.html" %}
  {% include "includes/back-link-v12.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/PIP2/dressing-and-undressing/index-answer" method="post" novalidate>

      <h1 class="govuk-heading-l">Dressing and undressing</h1>

      <p>This means:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>putting on and taking off clothing, including shoes and socks</li>
        <li>needing help to fasten or undo zips or buttons</li>
        <li>knowing when to put on or take off clothes</li>
      </ul>
      <p>Consider how long it takes you to dress or undress.</p>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "dressingandundressing-question",
        fieldset: {
          legend: {
            text: "Does your condition affect you dressing or undressing?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("dressingandundressing-question", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("dressingandundressing-question", "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    {% include "p5-v12/dressing-and-undressing/_return-link.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
