{% extends "layout-idv.html" %}

{% set pageQuestion = "Enter your mobile phone number" %}

{% block pageTitle %}
  {{ pageQuestion }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{ pageQuestion }}</h1>

      <form class="form" action="/id-verification/v2/mobile-phone-verification" method="post">

        <p>We will send a security code to this number.</p>

        <p>Whenever you sign in to this service we will send a new security code.</p>

        {{ govukInput({
          label: {
            text: "Mobile phone number",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "For international numbers include the country code"
          },
          id: "telephone-number",
          name: "telephone-number",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
