{% extends "layout-idv.html" %}

{% set pageQuestion = "Verify your account" %}

{% block pageTitle %}
  {{ pageQuestion }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">We have sent you a text message with your security code</h1>

      <form class="form" action="/id-verification/v2/live-pip1/add-support-communicating" method="post">

        <p>It should only take one minute to arrive.</p>

        {{ govukInput({
          label: {
            text: "Enter your 6-digit security code",
            classes: "govuk-label--m",
            isPageHeading: false
          },
          id: "mobile-security-code",
          name: "mobile-security-code",
          type: "text",
          classes: "govuk-input--width-10"
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <p>
        <a href="#">I did not get a text message</a>
      </p>

    </div>
  </div>

{% endblock %}
