{% extends "layout-signed-in-mvp.html" %}

{% block pageTitle %}
Your date of birth
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-signed-in.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              What is your date of birth?
            </h1>
          </legend>
          <div id="dob-hint" class="govuk-hint">
            For example, 31 3 1980
          </div>
          <div class="govuk-date-input" id="dob">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-day" name="dob-day"
                  type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div> <!-- govuk-date-input__item -->
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dob-month" name="dob-month"
                  type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div> <!-- govuk-date-input__item -->
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="dob-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dob-year" name="dob-year"
                  type="text" pattern="[0-9]*" inputmode="numeric">
              </div>
            </div> <!-- govuk-date-input__item -->
          </div> <!-- govuk-date-input -->
        </fieldset>
      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Save and continue" id="submit">

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}
