{% extends "layout-signed-in-mvp.html" %}

{% block pageTitle %}
Help and contact
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-signed-out.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Help and contact</h1>

    <h2 class="govuk-heading-m">If you need a paper form or no longer want to apply</h2>

    <p>Call the Department for Work and Pensions if:
    <ul class="govuk-list govuk-list--bullet">
      <li>you would prefer to fill in and post a paper form</li>
      <li>you no longer want to apply for PIP</li>
    </ul>

    <h2 class="govuk-heading-m">Contact DWP</h2>
    <!-- {# <p>Call the Department for Work and Pensions if you would like to fill in and post a paper form and your evidence instead.</p> #}
    <div class="indent-hairline">
      <p><strong><abbr title=""></abbr>[Name of model office helpline TBC] </strong><br> -->


      <p>Telephone: 0800 121 6279<br>
      Textphone: 0800 121 4493<br>
      <a href="https://www.relayuk.bt.com//">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 4433<br>
      <a href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP ">Video relay service</a> for British Sign Language (<abbr title="British Sign Language">BSL</abbr>) users - <a href="https://www.youtube.com/watch?v=oELNMfAvDxw">check you can use the service</a><br>
      Monday to Friday, 9am to 5pm. <br>
      <!-- Closed on public holidays.<br> -->
      <a href="/call-charges">Find out about call charges</a>

      </p>

    </div> <!-- indent-hairline -->

  </div> <!-- govuk-grid-column-two-thirds -->
</div> <!-- govuk-grid-row -->
{% endblock %}
