{% extends "layout-signed-in-mvp.html" %}

{% block pageTitle %}
Name
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-signed-in.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="name">
            Your name
          </label>
        </h1>
        <div id="first-name-hint" class="govuk-label">
          First name
        </div>
        <input class="govuk-input govuk-input--width-30" id="first-name" name="first-name" type="text">
      </div>

      <div class="govuk-form-group">
        <div id="last-name-hint" class="govuk-label">
          Last name
        </div>
        <input class="govuk-input govuk-input--width-30" id="last-name" name="last-name" type="text">
      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Save and continue" id="submit">

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-row -->
</form>

{% endblock %}
