{% set pageTitle = "Other healthcare professionals" %}

{% extends "layout-signed-in-mvp.html" %}

{% block pageTitle %}
Add another health or care professional
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-v7.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-!-font-size-24">You have added details for:
      <br><strong>{{ data['hcp-1-name'] | capitalize }}</strong>
    </p>

    <form id="form" method="post" action="#">

      {{ govukRadios({
      idPrefix: "hcp-2",
      name: "hcp-2",
      fieldset: {
      legend: {
      text: "Are there any other health or care professionals we can contact?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
      }
      },
      items: [
      {
      value: "Yes",
      text: "Yes"
      },
      {
      value: "No",
      text: "No"
      }
      ]
      }) }}

      {{ govukButton({
      text: "Save and continue"
      }) }}

    </form>

  </div>{# /govuk-grid-column-one-third #}
</div>{# /govuk-grid-row #}
{% endblock %}
