{% extends "layout-idv-signed-in.html" %}

{% set pageQuestion = "Tell us how your health condition or disability affects you" %}

{% block pageTitle %}
  {{ pageQuestion }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" style="margin-bottom: 40px;">
        Tell us how your health condition or disability affects you
      </h1>

      <p class="govuk-heading">Download and read the instructions <a href="#" download>Help with answering questions and providing evidence (PDF)</a></p>

      <p>You can download a copy of your completed application when you've finished.</p>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 0 of 16 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Tell us about your health
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                About your health
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="aboutyourhealth">Not started</strong>
                </span>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                About your health professionals
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="aboutyourhealthprofessionals">Not started</strong>
                </span>
              </span>
            </li>
          </ul>
        </li>
        {# Daily living activities #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Tell us about your daily living activities
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Preparing food
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="preparingfood">Not started</strong>
                </span>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Eating and drinking
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="eatinganddrinking">Not started</strong>
                </span>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Managing treatments
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="managingtreatments">Not started</strong>
                </span>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Washing and bathing
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="washingandbathing">Not started</strong>
                </span>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Using the toilet and managing incontinence
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="managingtoiletneeds">Not started</strong>
                </span>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Dressing and undressing
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="dressingandundressing">Not started</strong>
                </span>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Talking,listening and understanding
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="talkingandlistening">Not started</strong>
                </span>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Reading
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="reading">Not started</strong>
                </span>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Mixing with other people
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="mixingwithotherpeople">Not started</strong>
                </span>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Managing money
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="managingmoney">Not started</strong>
                </span>
              </span>
            </li>
          </ul>
        </li>
        {# Mobility activities #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Tell us about your mobility activities
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Planning and following a journey
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="planningandfollowingajourney">Not started</strong>
                </span>
              </span>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Moving around
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="movingaround">Not started</strong>
                </span>
              </span>
            </li>
          </ul>
        </li>
        {# Additional information #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Tell us about anything else
          </h2>
          <ul class="app-task-list__items govuk-!-margin-bottom-7">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Additional information
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="additionalinformation">Not started</strong>
                </span>
              </span>
            </li>
          </ul>
        </li>
        {# Upload supporting evidence and apply #}
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Upload supporting evidence and apply
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <a class="app-task-list__task-name " href="/id-verification/v1/live-pip2/apply/declaration">
               Upload supporting evidence and apply
                <span>
                  <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="uploadsupportingevidenceandapply">Not started</strong>
                </span>
              </a>
            </li>
          </ul>
        </li>
      </ol>

    </div>
  </div>

{% endblock %}
