{% extends "layout-email.html" %}

{% block header %}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Pause</h1>
      <p>[Is it clear to the users they need to sign back in to complete OIDV?]</p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <a class="usability-testing-link" href="notification-idv"></a>
  </div>

{% endblock %}

{% block footer %}{% endblock %}
