{% extends "layout-email.html" %}

{% block header %}{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-container-centred">

      <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">From</th>
            <td class="govuk-table__cell">DWP PIP</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">To</th>
            <td class="govuk-table__cell">jerry.bakewell@gmail.com</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Subject</th>
            <td class="govuk-table__cell">Notification - complete OIDV</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-container-centred govuk-email-container">

      {{ govukHeader({
        homepageUrl: "#"
      }) }}

      <div class="govuk-width-container govuk-email-content">

        <p>Dear Jerry Bakewell,</p>

        <p>Thank you for for submitting your Personal Independence Payment (PIP) claim.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p>You must confirm your identity before we can make a decision on your claim.</p>

        <div class="govuk-inset-text">
          Confirm your identity <a href="/id-verification/v5/sign-in">https://www.apply-for-pip.gov.uk/sign-in</a>
        </div>

        <h2 class="govuk-heading-m">Get help</h2>

        <p>If you need help, you can also a friend, relative, carer, representative, or local support organisation to help you.</p>

        <p>If you would like to speak to someone from the Department for Work and Pensions (DWP) about your claim, contact:</p>

        <div class="govuk-inset-text">
          Telephone: 0800 121 6279<br>
          Textphone: 0800 121 4493 if you have speech or hearing difficulties<br>
          Relay UK (if you cannot hear or speak on the phone): 18001 then 0800 121 6279<br>
          <a href="https://relayuk.bt.com">https://relayuk.bt.com</a><br>
          Video relay service for British Sign Language (BSL) users:<br>
          <a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl</a><br>
          Check you can use the video relay service:<br>
          <a href="https://www.dalanguages.co.uk/dwp-bsl/">https://www.dalanguages.co.uk/dwp-bsl/</a><br>
          Open 9am to 5pm, Monday to Friday
        </div>

        <p>Please do not reply to this message. Any email sent in response will be deleted without being read. DWP will never ask you to send any usernames, passwords, personal, health/medical or bank account information via email.</p>

        <p>Yours sincerely,</p>

        <p>Office manager</p>

      </div>

      {{ govukFooter({}) }}

    </div>

  </div>

{% endblock %}

{% block footer %}{% endblock %}
