{% set status = "signed-out" %}
{% set pageTitle = "A 6-digit code has been texted to XXXX XXX 789" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5/_beta-banner.html" %}
  {% include "p5/_back-link.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="" method="post">

              <h1 class="govuk-heading-l">A 6-digit code has been texted to mobile number ending 789</h1>

              <p>The code expires after 5 minutes.</p>

              <div class="govuk-form-group">
                <label class="govuk-label" for="code" >Enter your 6-digit code</label>
                <input class="govuk-input govuk-input--width-5 input-capitals" id="code" name="code" maxlength="6" data-hj-suppress type="text" pattern="[0-9]*" inputmode="numeric" value="">
              </div>


              {{ govukButton({
                  text: "Continue"
              }) }}

                <p><a href="#">Get another code by text</a></p>
                <p><a href="#">Get another code by email</a></p>

            </form>
        </div>
    </div>
    
{% endblock %}
