{% set pageTitle = "Do you use a feeding tube or similar device to eat or drink?" %}

{% extends "layout-p5-v12.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5-v12/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5-v12/_beta-banner.html" %}
  {% include "includes/back-link-v12.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/p5-v12/eating-and-drinking/details" method="post" novalidate>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "eatinganddrinking-feedingtube",
        fieldset: {
          legend: {
            text: "Do you use a feeding tube or similar device to eat or drink?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("eatinganddrinking-feedingtube", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("eatinganddrinking-feedingtube", "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

    {% include "p5-v12/preparing-food/_return-link.html" %}

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
