{% extends "layout-idv-signed-in.html" %}

{% set pageQuestion = "Payslip or P60" %}

{% block pageTitle %}
  {{ pageQuestion }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Do you have a payslip or P60?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="payslip-or-p60-1" name="payslip-or-p60" type="radio" value="payslip">
                <label class="govuk-label govuk-radios__label" for="payslip-or-p60-1">
                  Payslip dated after 17 April 2020
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="payslip-or-p60-2" name="payslip-or-p60" type="radio" value="p60">
                <label class="govuk-label govuk-radios__label" for="payslip-or-p60-2">
                  Most recent P60
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

    </div>
  </div>

{% endblock %}
