{% set status = "signed-out" %}
{% set pageTitle = "A 6-digit code has been texted to XXXX XXX 789" %}

{% extends "layout-live-pip2-v1-0.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "live-pip2-v1-0/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "live-pip2-v1-0/_beta-banner.html" %}
  {% include "live-pip2-v1-0/_back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if getData.next === "list" %}
        <form action="/live-pip2-v1-0/sign-in/splash-message" method="POST" novalidate>
      {% else %}
        <form action="/live-pip2-v1-0/sign-in/create-password" method="POST" novalidate>
      {% endif %}

      {% if data['code'] == '123456' %}
      <script>
          window.location.href = 'create-password'
      </script>
      {% endif %}

      <h1 class="govuk-heading-l">A 6-digit code has been texted to mobile number ending 789</h1>

      <p>The code expires after 5 minutes.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="code" >Enter your 6-digit code</label>
        <input class="govuk-input govuk-input--width-5 input-capitals" id="code" name="code" maxlength="6" data-hj-suppress type="text" pattern="[0-9]*" inputmode="numeric" value="">
      </div>



        <a href="/live-pip1-v1-0/sign-in/create-password" class="govuk-button" role="button" draggable="false" data-module="govuk-button">Continue</a>
        <p><a href="/live-pip1-v1-0/sign-in/code-text-get-another">Get another code by text</a></p>
        <p><a href="/live-pip1-v1-0/sign-in/code-email">Get another code by email</a></p>


      </form>

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
