{% extends "layout-idv-signed-in.html" %}

{% set pageQuestion = "Your health condition and health professionals" %}

{% block pageTitle %}
  {{ pageQuestion }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/id-verification/v1/live-pip1/about_your_health/consent" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Can the Department for Work and Pensions contact your health and care professionals for information about you?
              </h1>
            </legend>

              <p>Tell us about any health and care professionals who know best how your health condition or disability affects you.</p>

              <p>For example, a GP, hospital doctor, specialist nurse, community psychiatric nurse, occupational therapist, physiotherapist, social worker, counsellor or support worker.</p>

            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hcp-q-1" name="hcp" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="hcp">
                  Yes
                </label>
              </div> <!-- govuk-radios__item -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="hcp-q-2" name="hcp" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="hcp-q-2">
                  No
                </label>
              </div> <!-- govuk-radios__item -->
            </div> <!-- govuk-radios -->
          </fieldset>
        </div> <!-- govuk-form-group-->

        <input type="submit" class="govuk-button" value="Save and continue" id="submit">

      </form>

    </div>
  </div>

{% endblock %}
