{% set pageTitle = "Check your answers: about your health" %}

{% extends "layout-signed-in-mvp.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "live-pip2-v1-0/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-experimental.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
