{% extends "layout-signed-in-mvp.html" %}

{% block pageTitle %}
Are you currently staying in one of these places
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-experimental.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Are you currently staying in any of the these places?
            </h1>
          </legend>
            <div id="contact-hint" class="govuk-hint">
              Select one option.
            </div>
          <div class="govuk-radios govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hospital-1" name="hospital" type="radio" value="Hospital">
              <label class="govuk-label govuk-radios__label" for="hospital-1">
                Hospital
              </label>
            </div> <!-- govuk-radios__item -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hospital-2" name="hospital" type="radio" value="Hospice">
              <label class="govuk-label govuk-radios__label" for="hospital-2">
                Hospice
              </label>
            </div> <!-- govuk-radios__item -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hospital-3" name="hospital" type="radio" value="Care or nursing home">
              <label class="govuk-label govuk-radios__label" for="hospital-3">
                Care or nursing home
              </label>
            </div> <!-- govuk-radios__item -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hospital-4" name="hospital" type="radio" value="Other">
              <label class="govuk-label govuk-radios__label" for="hospital-4">
                Other
              </label>
              <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                This includes residential college, respite care, sheltered housing or other accommodation.
              </div>
            </div> <!-- govuk-radios__item -->
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="hospital-5" name="hospital" type="radio" value="No, none of these">
              <label class="govuk-label govuk-radios__label" for="hospital-5">
                No, none of these
              </label>
            </div> <!-- govuk-radios__item -->
          </div> <!-- govuk-radios govuk-radios -->
        </fieldset>
      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Save and continue" id="submit">

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}
