{% extends "layout-signed-in-v12.html" %}

{% block pageTitle %}
Check your answers personal details
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
<!-- {% include "includes/back-link-v12.html" %} -->
{% endblock %}

{% set conditionsLength %}
{{ data.conditions | length }}
{% endset %}

{% block content %}
<form id="form" method="post" action="#">

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <h1 class="govuk-heading-l">
            Check your answers
          </h1>

          <h2 class="govuk-heading-m">Personal details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['first-name'] }}<br>
                {{ data['last-name'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="name">
                  Change<span class="govuk-visually-hidden"> fisrt name</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                National Insurance number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['nino'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="nino">
                  Change<span class="govuk-visually-hidden"> national insurance number</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['dob-day'] }} - {{ data['dob-month'] }} - {{ data['dob-year'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="date-of-birth">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['address-line-1'] }}<br>
                {{ data['address-line-2'] }}<br>
                {{ data['address-town'] }}<br>
                {{ data['address-county'] }}<br>
                {{ data['address-postcode'] }}<br>
                {{ data['address-country'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="address">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Can we write to you at this address?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['safe-address'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="address">
                  Change<span class="govuk-visually-hidden"> safe address</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->

            {% if data['safe-address'] === 'No' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Alternative address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['other-address-line-1'] }}<br>
                {{ data['other-address-line-2'] }}<br>
                {{ data['other-address-town'] }}<br>
                {{ data['other-address-county'] }}<br>
                {{ data['other-address-postcode'] }}<br>
                {{ data['other-address-country'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="address-other">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Mobile number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['phone-number'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="contact-details">
                  Change<span class="govuk-visually-hidden"> phone number</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Alternative number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['alternative-phone-number'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="contact-details">
                  Change<span class="govuk-visually-hidden"> alternative phone number</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Textphone
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['textphone'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="contact-details">
                  Change<span class="govuk-visually-hidden"> textphone number</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Do you want to receive text messages to update you on the progress of your claim?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['sms-updates'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="contact-details">
                  Change<span class="govuk-visually-hidden"> if you want to receive sms updates on the progress of your
                    claim</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Do you need communications in another format?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['communication-format'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="alt-formats.html">
                  Change<span class="govuk-visually-hidden"> communication format</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->

            {% if data['communication-format'] === 'Yes' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which communication format do you need?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['alt-formats-choice'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="alt-formats-choice.html">
                  Change<span class="govuk-visually-hidden"> communication format choice</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}

            {% if data['alt-formats-choice'] === 'Braille' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which braille format do you need?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['alt-format-braile'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="alt-formats-braille">
                  Change<span class="govuk-visually-hidden"> Braille format type</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}

            {% if data['alt-formats-choice'] === 'Sign language' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which type of sign language do you need?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['alt-format-sl'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="alt-formats-sign-language">
                  Change<span class="govuk-visually-hidden"> sign language type</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}

            {% if data['alt-formats-choice'] === 'Audio' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which type of audio format do you need?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['alt-format-audio'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="alt-formats-audio">
                  Change<span class="govuk-visually-hidden"> audio type</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}

            {% if data['alt-formats-choice'] === 'Paper' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which paper format do you need?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['alt-formats-paper'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="alt-formats-paper">
                  Change<span class="govuk-visually-hidden"> paper type</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}

            {% if data['alt-formats-paper'] === 'Coloured paper' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Give details for what colour paper you need
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['alt-formats-paper-colour'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="alt-formats-paper-colour">
                  Change<span class="govuk-visually-hidden"> coloured paper details</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}

            {% if data['alt-formats-paper'] === 'Large print with a custom font' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Give details of the custom font you need
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['alt-formats-paper-custom'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="alt-formats-paper-custom-font">
                  Change<span class="govuk-visually-hidden"> custom font details</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}

            {% if data['alt-formats-choice'] === 'Other formats' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Which other format do you need?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['alt-formats-other'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="alt-formats-other">
                  Change<span class="govuk-visually-hidden"> other format type</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}

            {% if data['alt-formats-other'] === 'Accessible PDF' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is your email address?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['alt-formats-other-pdf-email'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="alt-formats-other-pdf-email">
                  Change<span class="govuk-visually-hidden"> email address details</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}

            {% if data['alt-formats-other'] === 'Email' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                What is your email address?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['alt-formats-other-email'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="alt-formats-other-email">
                  Change<span class="govuk-visually-hidden"> email address details</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}

            {% if data['alt-formats-other'] === 'Other' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Describe the communication format you need
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['alt-formats-other-other'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="alt-formats-other-other.html">
                  Change<span class="govuk-visually-hidden"> other contact details</span>
                </a>
              </dd>
            </div> <!-- govuk-summary-list__row -->
            {% endif %}
          </dl>

          <p>Make sure you've checked your answers before you save and continue.</p>

          <input type="submit" class="govuk-button" data-module="govuk-button" value="Save and continue" id="submit">

        </div> <!-- govuk-grid-column-two-thirds-from-desktop -->
      </div> <!-- govuk-grid-row -->

    </main>
  </div> <!-- govuk-width-container -->

</form>

{% endblock %}
