{% extends "layout-idv.html" %}

{% set pageQuestion = "Identity check complete" %}

{% block pageTitle %}
  {{ pageQuestion }}  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ pageQuestion }}
      </h1>

      <p>You have answered the security questions successfully.</p>

      {{ govukButton({
        text: "Continue",
        href: "/id-verification/optionf-v1/id-completed"
      }) }}

    </div>
  </div>
{% endblock %}
