{% extends "layout-idv.html" %}

{% set pageQuestion = "Your registration was successful" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block pageTitle %}
  {{ pageQuestion }} – GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageQuestion }}
      </h1>

      <p>You’ve successfully registered for this service and can now sign in.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p>Before you start to use this service, we’ll need to confirm who you are so we can protect you from fraud.</p>

      <p>Once you’ve signed in, you’ll need to answer some security questions about documents you may have or personal details about yourself.</p>

      <p>The answers you provide will only be used to help us confirm who you are.</p>

      <div class="govuk-inset-text">
        You may need to re-enter details about yourself. This is nothing to worry about. It simply helps us confirm it is you and protect you from fraud.
      </div>

      {{ govukButton({
        text: "Continue to sign in",
        href: "sign-in"
      }) }}

    </div>
  </div>
{% endblock %}
