{% extends "layout-idv.html" %}

{% set pageQuestion = "Sign in" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block pageTitle %}
  {{ pageQuestion }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{ pageQuestion }}</h1>

      <form class="form" action="sign-in-verification" method="post">

        {{ govukInput({
          label: {
            text: "Email address",
            isPageHeading: false
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Password",
            isPageHeading: false
          },
          id: "password",
          name: "password",
          type: "text",
          spellcheck: false
        }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <p>
        <a href="register">Register now</a> if you have not used the service before.
      </p>

      <h2 class="govuk-heading-m">Problems signing in</h2>

      <p>
        <a href="#">I forgot my password</a><br>
        <a href="#">I cannot access the email I use to sign in</a>
      </p>

    </div>
  </div>

{% endblock %}
