{% extends "layout.html" %}

{% block pageTitle %}
  Health condition for another 9 months
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <form id="form" method="post" action="#">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                How long do you expect your condition or disability last?
              </h1>
            </legend>
           
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="over-9-months-1" name="over-9-months" type="radio" data-aria-controls="conditional-over-9-months-1" value="Less then 9 months">
                <label class="govuk-label govuk-radios__label" for="over-9-months-1">
                  Less than 9 months
                </label>
              </div> <!-- govuk-radios__item -->
              <!--<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-over-9-months-1">
                <div class="govuk-form-group">                
                  <p>You can only get PIP if you expect to find it hard doing everyday tasks or getting around for at least another 9 months.</p>
                </div> <!-- govuk-form-group -->
              <!--</div> <!-- govuk-radios__conditional govuk-radios__conditional--hidden -->
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="over-9-months-2" name="over-9-months" type="radio" data-aria-controls="conditional-over-9-months-2" value="Over 9 months">
                <label class="govuk-label govuk-radios__label" for="over-9-months-2">
                  9 months or more
                </label>
              </div> <!-- govuk-radios__item -->
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="over-9-months-3" name="over-9-months" type="radio" data-aria-controls="conditional-over-9-months-3" value="Not sure">
                <label class="govuk-label govuk-radios__label" for="over-9-months-3">
                  I'm not sure
                </label>
              </div> <!-- -govuk-radios__item" -->
              
            </div> <!-- govuk-radios govuk-radios--conditional -->
        
          </fieldset>

        </div> <!-- govuk-form-group -->


        
        <input type="submit" class="govuk-button" value="Continue" id="submit">

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
  </form>

{% endblock %}
