{% set status = "signed-out" %}
{% set pageTitle = "Get another 6-digit code sent to email@email.com" %}

{% extends "layout-p5.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5-v11/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5-v11/_beta-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if getData.expired == "true" %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Your 6-digit code has expired. Get another code."
            }
          ]
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">Get another 6-digit security code sent to email@email.com</h1>

      {% if getData.scenario === "locked" %}
        {{ govukButton({
            text: "Get another code",
            href: "/p5-v11/sign-in/code-email?scenario=locked"
        }) }}
      {% elif getData.scenario === "active" %}
        {{ govukButton({
            text: "Get another code",
            href: "/p5-v11/sign-in/code-email?scenario=active"
        }) }}
      {% else %}
        <!-- <a href="/p5-v11/sign-in/code-email" class="govuk-button">Get another code</a> -->
        {{ govukButton({
            text: "Get another code",
            href: "/p5-v11/sign-in/code-email"
        }) }}
      {% endif %}

      {% include "p5-v11/sign-in/_problems.html" %}

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

{% endblock %}
