{% extends "layout-signed-in-v5.html" %}

{% block pageTitle %}
You are sigend in 
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Are you now signed into the PIP Apply application service
            </h1>
          </legend>
          <p>Your progress has been saved</p>
          <p>You will continue the application at the next question after your last save</p>
       
      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Continue" id="submit">

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}