{% extends "layout.html" %}

{% block pageTitle %}
  Living in Great Britain for question
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <form id="form" method="post" action="#">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">


            <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
                  In the last 3 years have you been abroad for more than 9 months in total?
                </h1>

              </legend>
                <div class="govuk-radios govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="immigration-control-1" name="immigration-control-2" type="radio" value="Yes">
                    <label class="govuk-label govuk-radios__label" for="immigration-control-1">
                      Yes
                    </label>
                  </div> <!-- govuk-radios__item -->
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="immigration-control-2" name="immigration-control-2" type="radio" value="No">
                    <label class="govuk-label govuk-radios__label" for="immigration-control-2">
                      No
                    </label>
                  </div> <!-- govuk-radios__item -->
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="immigration-control-3" name="immigration-control-2" type="radio" value="Not sure">
                    <label class="govuk-label govuk-radios__label" for="immigration-control-3">
                      I'm not sure
                    </label>
                  </div> <!-- govuk-radios__item -->
                </div> <!-- govuk-radios govuk-radios -->

            </fieldset>
        </div> <!-- govuk-form-group -->

        <input type="submit" class="govuk-button" value="Continue" id="submit">

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-row -->
  </form>

{% endblock %}
