{% extends "layout.html" %}

{% block pageTitle %}
  Not eligible
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<!-- {{data['destination']}} -->

  <form id="form" method="post" action="">
    <input type="hidden" value="{{data['destination']}}" name="destination">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Based on your answers you will not be eligible for Personal Independence Payment (PIP)
        </h1>
        <p>Personal Independence Payment (PIP) is a payment that supports you if you have a health condition or disability that affects your ability to do everday tasks or get around.</p>
        <p>You can still apply and we will ask for more information to assess your application.</p>
        <p>You can also <a href="https://www.gov.uk/browse/benefits">see what other benefits are available</a></p>
        <input type="submit" class="govuk-button" value="Continue" id="submit">

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
  </form>

{% endblock %}
