{% extends "layout.html" %}

{% block pageTitle %}
  Not eligible
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
<!-- {{data['destination']}} -->

   <form id="form" method="post" action="#">
    <!-- <input type="hidden" value="{{data['destination']}}" name="destination"> -->
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Based on your answers, you might not be eligible for Personal Independence Payment
        </h1>
        <p>This is because you’re subject to immigration control or you have a visa that says ‘no recourse to public funds’.</p>
        
         <input type="submit" class="govuk-button" value="Continue" id="submit"> 
        
       
      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
  </form>

{% endblock %}
