{% extends "layout.html" %}

{% block pageTitle %}
  Health condition for another 9 months
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}
  <form id="form" method="post" action="name">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">



        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Is the health condition or disability expected to last at least another 9 months?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="over-9-months-1" name="over-9-months" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="over-9-months-1">
                  Yes
                </label>
              </div> <!-- govuk-radios__item -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="over-9-months-2" name="over-9-months" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="over-9-months-2">
                  No
                </label>
              </div> <!-- govuk-radios__item -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="over-9-months-3" name="over-9-months" type="radio" value="Not sure">
                <label class="govuk-label govuk-radios__label" for="over-9-months-3">
                  Not sure
                </label>
              </div> <!-- govuk-radios__item -->
              
            </div> <!-- govuk-radios govuk-radios -->
          </fieldset>
        </div> <!-- govuk-form-group -->
        <input type="submit" class="govuk-button" value="Continue" id="submit">

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
  </form>

{% endblock %}
