{% extends "layout-p5-v12.html" %}

{% set pageTitle = "Do you want to upload any supporting evidence?" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5-v12/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
{% include "p5-v12/_beta-banner.html" %}
{% include "includes/back-link-v7.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if cya == "true" %}
        <form action="/p5-v12/supporting-evidence/supporting-evidence-data-cya" method="post" novalidate>
      {% else %}
        <form action="/p5-v12/supporting-evidence/supporting-evidence-data" method="post" novalidate>
      {% endif %}

      <h1 class="govuk-heading-l">Supporting evidence</h1>

      <p>This might be care plans, reports, letters, or other information from health professionals.</p>
      <p>You can upload photos and scanned images of your supporting evidence.</p>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Do you want to upload any supporting evidence?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changed-name">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>



        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>{# /govuk-grid-column-two-thirds #}

  </div>{# /govuk-grid-row #}

{% endblock %}
