{% extends "layout-signed-in-v11.html" %}

{% block pageTitle %}
Do you need help from someone else to communicate with us
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-v7.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Do you need help from someone else to communicate with us?
            </h1>
          </legend>
          <p>This could include help with talking, listening, writing or understanding information that we might send to
            you.</p>

          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-support-communicating-1" name="add-support-communicating"
                type="radio" value="Yes, all of the time">
              <label class="govuk-label govuk-radios__label" for="add-support-communicating-1">
                Yes
              </label>
            </div> <!-- govuk-radios__item -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-support-communicating-2" name="add-support-communicating"
                type="radio" value="No, never">
              <label class="govuk-label govuk-radios__label" for="add-support-communicating-2">
                No
              </label>
            </div> <!-- govuk-radios__item -->

          </div> <!-- govuk-radios -->

        </fieldset>
      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Save and continue" id="submit">

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}