{% extends "layout-signed-in-v11.html" %}

{% block pageTitle %}
Alternative contact format paper
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-v7.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">


            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Which other format do you need?
                        </h1>
                    </legend>

                    <div id="contact-hint" class="govuk-hint">
                        Select all options that are relevant to you.
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-paper-1" name="alt-format-paper"
                                type="checkbox" value="Coloured paper" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-paper">
                                Coloured paper
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                            id="conditional-contact">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-by-email">
                                    Give details
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-email"
                                    name="contact-by-email" type="email" spellcheck="false" autocomplete="email">
                            </div> <!-- govuk-form-group -->
                        </div> <!-- govuk-checkboxes__conditional -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-paper-2" name="alt-format-paper"
                                type="checkbox" value="Large print &ndash; 16 point font" data-aria-controls="conditional-contact-2">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-paper-2">
                                Large print &ndash; 16 point font
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <!-- div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-phone">
                          Phone number
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel"></div>
                     </div> -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-paper-3" name="alt-format-paper"
                                type="checkbox" value="Large print with a custom font size" data-aria-controls="conditional-contact-3">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-paper-3">
                                Large print with a custom font size
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                            id="conditional-contact-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-by-text">
                                    Give details
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-text"
                                    name="contact-by-text" type="tel" autocomplete="tel">
                            </div> <!-- govuk-form-group -->
                        </div> <!-- govuk-checkboxes__conditional -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-paper-4" name="alt-format-paper"
                                type="checkbox" value="Accessible PDF" data-aria-controls="conditional-contact-4">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-paper-4">
                                Accessible PDF
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                       
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-paper-5" name="alt-format-paper"
                                type="checkbox" value="Email" data-aria-controls="conditional-contact-5">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-paper-5">
                                Email
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                            id="conditional-contact-5">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-by-text">
                                    Enter an email address
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-text"
                                    name="contact-by-text" type="tel" autocomplete="tel">
                            </div> <!-- govuk-form-group -->
                        </div> <!-- govuk-checkboxes__conditional -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-paper-6" name="alt-format-paper"
                                type="checkbox" value="Other" data-aria-controls="conditional-contact-6">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-paper-6">
                                Other
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                            id="conditional-contact-6">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-by-text">
                                    Give details
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-text"
                                    name="contact-by-text" type="tel" autocomplete="tel">
                            </div> <!-- govuk-form-group -->
                        </div> <!-- govuk-checkboxes__conditional -->

                    </div> <!-- govuk-checkboxes -->

                </fieldset>
            </div> <!-- govuk-form-group -->

            <p class="govuk-body">The Department for Work and Pensions may contact you to discuss your communication needs.</p>

            <input type="submit" class="govuk-button" value="Save and continue" id="submit">

        </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}
