{% extends "layout.html" %}

{% block pageTitle %}
Eligible
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}
  <form id="form" method="post" action="#">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Based on your answers you may eligible for Personal Independence Payment
        </h1>

        <p>Content to add here .</p>

        <input type="submit" class="govuk-button" value="Continue" id="submit">

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
  </form>

{% endblock %}
