<p>Telephone: 0800 121 6279<br>
Textphone: 0800 121 4493<br>
<a href="https://www.relayuk.bt.com//">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 6279<br>
<a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">Video relay service</a> for British Sign Language (<abbr title="British Sign Language">BSL</abbr>) users - <a href="https://www.dalanguages.co.uk/dwp-bsl/">check you can use the service</a><br>
<!-- Closed on public holidays.<br> -->
<a href="/call-charges">Find out about call charges</a></p>


<!-- <p>Calling from abroad: +44 191 218 7766<br>
Monday to Friday, 9am to 5pm</p> -->
