{% extends "layout-idv-signed-in.html" %}

{% set pageQuestion = "What is your eldest child's full name?" %}

{% block pageTitle %}
  {{ pageQuestion }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Confirm your identity</span>

      <form class="form" method="post" action="kbv-landline">

        {{ govukInput({
          label: {
            text: "What is your eldest child's full name?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "child-name",
          name: "child-name"
        }) }}

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              I do not have this information now
            </span>
          </summary>
          <div class="govuk-details__text">
            You can stay on this page for up to 20 minutes if you need to check your answer. Do not close the web page.<br>
            <br>
            If you need more time, you can come back and confirm your identity later. You might be asked for different information.
          </div>
        </details>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <p>
        <a href="kbv-landline">I cannot answer this question</a>
      </p>

    </div>
  </div>

{% endblock %}
