{% extends "layout-signed-in-v7.html" %}

{% block pageTitle %}
Alternative contact format paper
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
              data-module="govuk-error-summary">
              <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#alt-format-paper">Select which other format you need</a>
                  </li>
                </ul>
              </div>
            </div> <!-- govuk-error-summary -->


            <div class="govuk-form-group--error">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Which other format do you need?
                        </h1>
                    </legend>
                    <div id="contact-hint" class="govuk-hint">
                        Select all options that are relevant to you.
                    </div>
                    <span id="alt-format-paper-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>Select which other format you need
                      </span>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-paper-1" name="alt-format-paper"
                                type="checkbox" value="email" data-aria-controls="conditional-contact">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-paper">
                                Coloured paper
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                            id="conditional-contact">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-by-email">
                                    Give details
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-email"
                                    name="contact-by-email" type="email" spellcheck="false" autocomplete="email">
                            </div> <!-- govuk-form-group -->
                        </div> <!-- govuk-checkboxes__conditional -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-paper-2" name="alt-format-paper"
                                type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-paper-2">
                                Large print &ndash; 16 font
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <!-- div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-phone">
                          Phone number
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel"></div>
                     </div> -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-paper-3" name="alt-format-paper"
                                type="checkbox" value="text message" data-aria-controls="conditional-contact-3">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-paper-3">
                                Large print with a custom font
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                            id="conditional-contact-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-by-text">
                                    Give details
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-text"
                                    name="contact-by-text" type="tel" autocomplete="tel">
                            </div> <!-- govuk-form-group -->
                        </div> <!-- govuk-checkboxes__conditional -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-paper-4" name="alt-format-paper"
                                type="checkbox" value="text message" data-aria-controls="conditional-contact-4">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-paper-4">
                                Accessible PDF
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <!-- <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-4">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="contact-by-text">
                            Mobile phone number
                          </label>
                          <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel"></div>
                      </div> -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-paper-5" name="alt-format-paper"
                                type="checkbox" value="text message" data-aria-controls="conditional-contact-5">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-paper-5">
                                Email
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                            id="conditional-contact-5">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-by-text">
                                    Enter an email address
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-text"
                                    name="contact-by-text" type="tel" autocomplete="tel">
                            </div> <!-- govuk-form-group -->
                        </div> <!-- govuk-checkboxes__conditional -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-paper-6" name="alt-format-paper"
                                type="checkbox" value="text message" data-aria-controls="conditional-contact-6">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-paper-6">
                                Other
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                            id="conditional-contact-6">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-by-text">
                                    Give details
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="contact-by-text"
                                    name="contact-by-text" type="tel" autocomplete="tel">
                            </div> <!-- govuk-form-group -->
                        </div> <!-- govuk-checkboxes__conditional -->

                    </div> <!-- govuk-checkboxes -->

                </fieldset>
            </div> <!-- govuk-form-group -->

            <p class="govuk-body">The Department for Work and Pensions may contact you to discuss your communication needs.</p>

            <input type="submit" class="govuk-button" value="Save and continue" id="submit">

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
              data-module="govuk-error-summary">
              <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#contact-by-email-2">Enter details</a>
                  </li>
                  <li>
                    <a href="#contact-2-by-text">Enter details</a>
                  </li>
                  <li>
                    <a href="#contact-2-by-text-2">Enter an email address</a>
                  </li>
                  <li>
                    <a href="#contact-2-by-text-3">Enter details</a>
                  </li>
                </ul>
              </div>
            </div> <!-- govuk-error-summary -->


            <div class="govuk-form-group--error">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            Which other format do you need?
                        </h1>
                    </legend>
                    <div id="contact-hint" class="govuk-hint">
                        Select all options that are relevant to you.
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item" >
                            <input class="govuk-checkboxes__input " checked="checked" id="alt-format-2-paper-1" name="alt-format-2-paper"
                                type="checkbox" value="email" data-aria-controls="conditional-2-contact">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-2-paper">
                                Coloured paper
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <div class="govuk-checkboxes__conditional govuk-form-group--error govuk-checkboxes__conditional--hidden"
                            id="conditional-2-contact">
                            <div class="govuk-form-group ">
                                <label class="govuk-label" for="contact-by-email-2">
                                    Give details
                                </label>
                                <span id="alt-format-paper-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>Enter details
                                  </span>
                                <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="contact-by-email-2"
                                    name="contact-by-email-2" type="email" spellcheck="false" autocomplete="email">
                            </div> <!-- govuk-form-group -->
                        </div> <!-- govuk-checkboxes__conditional -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-2-paper-2" name="alt-format-2-paper"
                                type="checkbox" value="phone" data-aria-controls="conditional-contact-2">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-2-paper-2">
                                Large print &ndash; 16 font
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <!-- div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-2">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-phone">
                          Phone number
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel"></div>
                     </div> -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-2-paper-3" name="alt-format-2-paper"
                                type="checkbox" value="text message" data-aria-controls="conditional-2-contact-3" checked="checked" >
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-paper-3">
                                Large print with a custom font
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <div class="govuk-checkboxes__conditional govuk-form-group--error govuk-checkboxes__conditional--hidden"
                            id="conditional-2-contact-3">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-by-text">
                                    Give details
                                </label>
                                <span id="alt-format-paper-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>Enter details
                                  </span>
                                <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="contact-2-by-text"
                                    name="contact-2-by-text" type="tel" autocomplete="tel">
                            </div> <!-- govuk-form-group -->
                        </div> <!-- govuk-checkboxes__conditional -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-2-paper-4" name="alt-format-2-paper"
                                type="checkbox" value="text message" data-aria-controls="conditional-2-contact-4">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-2-paper-4">
                                Accessible PDF
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <!-- <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact-4">
                        <div class="govuk-form-group">
                          <label class="govuk-label" for="contact-by-text">
                            Mobile phone number
                          </label>
                          <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel"></div>
                      </div> -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-2-paper-5" name="alt-format-2-paper"
                                type="checkbox" value="Email" data-aria-controls="conditional-2-contact-5" checked="checked">
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-2-paper-5">
                                Email
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden"
                            id="conditional-2-contact-5">
                            <div class="govuk-form-group govuk-form-group--error">
                                <label class="govuk-label" for="contact-2-by-text-2">
                                    Enter an email address
                                </label>
                                <span id="alt-format-paper-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>Enter an email address
                                  </span>
                                <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="contact-2-by-text-2"
                                    name="contact-2-by-text-2" type="tel" autocomplete="tel">
                            </div> <!-- govuk-form-group -->
                        </div> <!-- govuk-checkboxes__conditional -->

                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="alt-format-2-paper-6" name="alt-format-2-paper"
                                type="checkbox" value="text message" data-aria-controls="conditional-2-contact-6" checked="checked" >
                            <label class="govuk-label govuk-checkboxes__label" for="alt-format-2-paper-6">
                                Other
                            </label>
                        </div> <!-- govuk-checkboxes__item -->
                        <div class="govuk-checkboxes__conditional govuk-form-group--error govuk-checkboxes__conditional--hidden"
                            id="conditional-2-contact-6">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="contact-2-by-text-3">
                                    Give details
                                </label><span id="alt-format-paper-error" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span>Enter details
                                  </span>
                                  <input class="govuk-input govuk-!-width-two-thirds govuk-input--error" id="contact-2-by-text-3"
                                    name="contact-2-by-text-3" type="tel" autocomplete="tel">
                            </div> <!-- govuk-form-group -->
                        </div> <!-- govuk-checkboxes__conditional -->

                    </div> <!-- govuk-checkboxes -->

                </fieldset>
            </div> <!-- govuk-form-group -->

            <p class="govuk-body">The Department for Work and Pensions may contact you to discuss your communication needs.</p>

            <input type="submit" class="govuk-button" value="Save and continue" id="submit">
        </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}
