{% extends "layout-signed-in-v7.html" %}

{% block pageTitle %}
Contact details
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
          data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#phone-number">Enter a mobile number </a>
              </li>
              <li>
                <a href="#add-support-communicating-1">Select yes if you want to receive text messages to update you on the progress of your claim</a>
              </li>
              <!-- <li>
                <a href="#communication-format-1">Select yes if you need communications in another format</a>
              </li> -->
            </ul>
          </div>
        </div> <!-- govuk-error-summary -->
      </div> <!-- govuk-form-group -->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Your contact details
            </h1>
          </legend>
          <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label" for="address-line-1">
              Mobile number <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <span id="dob-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a mobile number
            </span>
            <input class="govuk-input govuk-input--error govuk-!-width-two-thirds" id="phone-number" name="phone-number" type="text"
              autocomplete="phone-number">
          </div> <!-- govuk-form-group -->
          <div class="govuk-form-group">
            <label class="govuk-label" for="alternative-phone-number">
              Alternative phone number (optional) <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <div id="dob-hint" class="govuk-hint">
              Enter an alternative number you can be contacted on, including the dialling code.
            </div>
            <input class="govuk-input govuk-!-width-two-thirds" id="alternative-phone-number"
              name="alternative-phone-number" type="text" autocomplete="phone-number">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group">
            <label class="govuk-label" for="address-town">
              Textphone (optional)
            </label>
            <div id="dob-hint" class="govuk-hint">
              Textphones do not accept text messages from mobile phones.<br>
              They're for people who cannot speak or hear clearly.
            </div>
            <input class="govuk-input govuk-!-width-two-thirds" id="textphone" name="textphone" type="text"
              autocomplete="textphone">
          </div> <!-- govuk-form-group -->
        </fieldset>
      </div> <!-- govuk-form-group -->

      <div class="govuk-form-group govuk-form-group--error">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Do you want to receive text messages to update you on the progress of your claim?
            </h1>
          </legend>
          <span id="dob-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Select yes if you want to receive text messages to update you on the progress of your claim
          </span>
          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-support-communicating-1" name="add-support-communicating"
                type="radio" value="Yes, all of the time">
              <label class="govuk-label govuk-radios__label" for="add-support-communicating-1">
                Yes
              </label>
            </div> <!-- govuk-radios__item -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-support-communicating-2" name="add-support-communicating"
                type="radio" value="No, never">
              <label class="govuk-label govuk-radios__label" for="add-support-communicating-2">
                No
              </label>
            </div> <!-- govuk-radios__item -->
          </div>
        </fieldset>
      </div><!-- govuk-for-group -->

      <input type="submit" class="govuk-button" value="Save and continue" id="submit">

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <div class="govuk-form-group">
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
          data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#phone-number-1">Enter a real mobile number </a>
              </li>
              <li>
                <a href="#alternative-phone-number-1">Enter a real phone number</a>
              </li>
              <li>
                <a href="#textphone-1">Enter a real phone number</a>
              </li>
            </ul>
          </div>
        </div> <!-- govuk-error-summary -->
      </div> <!-- govuk-form-group -->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Your contact details
            </h1>
          </legend>
          <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label" for="address-line-1">
              Mobile number <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <span id="dob-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a mobile number
            </span>
            <input class="govuk-input govuk-input--error govuk-!-width-two-thirds" id="phone-number-1" name="phone-number" type="text"
              autocomplete="phone-number" value="123456789">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label" for="alternative-phone-number">
              Alternative phone number (optional) <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <div id="dob-hint" class="govuk-hint">
              Enter an alternative number you can be contacted on, including the dialling code.
            </div>
            <span id="dob-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a real phone number
            </span>
            <input class="govuk-input govuk-input--error govuk-!-width-two-thirds" id="alternative-phone-number-1"
              name="alternative-phone-number" type="text" autocomplete="phone-number" value="123456789">
          </div> <!-- govuk-form-group -->

          <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label" for="address-town">
              Textphone (optional)
            </label>
            <div id="dob-hint" class="govuk-hint">
              Textphones do not accept text messages from mobile phones.<br>
              They're for people who cannot speak or hear clearly.
            </div>
            <span id="dob-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span> Enter a real phone number
            </span>
            <input class="govuk-input govuk-input--error govuk-!-width-two-thirds" id="textphone-1" name="textphone" type="text"
              autocomplete="textphone" value="123456789">
          </div> <!-- govuk-form-group -->
        </fieldset>
      </div> <!-- govuk-form-group -->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Do you want to receive text messages to update you on the progress of your claim?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-support-communicating-1" name="add-support-communicating"
                type="radio" value="Yes, all of the time">
              <label class="govuk-label govuk-radios__label" for="add-support-communicating-1">
                Yes
              </label>
            </div> <!-- govuk-radios__item -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-support-communicating-2" name="add-support-communicating"
                type="radio" value="No, never">
              <label class="govuk-label govuk-radios__label" for="add-support-communicating-2">
                No
              </label>
            </div> <!-- govuk-radios__item -->
          </div>
      </div><!-- govuk-for-group -->

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}
