{% extends "layout-signed-in-mvp.html" %}

{% block pageTitle %}
Your bank or building society account
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-signed-in.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
          data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#alt-format-paper">Select if you can provide bank, building society or credit union account details</a>
              </li>
            </ul>
          </div>
        </div> <!-- govuk-error-summary -->

        <div class="govuk-form-group--error">

          <h1 class="govuk-heading-xl">
              Your bank, building society or credit union account
          </h1>

          <p>We ask you to provide bank or building society account details before we make a decision on your claim. This is so we can pay you straight away if you're entitled to PIP.</p>
          <p>This does not guarantee that your claim will be successful.</p>
          <p>If you do not have an account in your own name or a joint account, you can use someone else's, for example, a trusted family member.</p>
          <p>If you use someone else’s account, make sure they agree and that the account terms and conditions allow this. Be sure that they will use your money in the way you tell them.</p>

          <fieldset class="govuk-fieldset" aria-describedby="your-account-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-heading-m">Can you provide bank, building society or credit union account details?</h2>
            </legend>
            <span id="alt-format-paper-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>Select if you can provide bank, building society or credit union account details
              </span>
            <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="your-account-1" name="your-account" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="your-account">
                  Yes
                </label>
              </div> <!-- govuk-radios__item -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="your-account-2" name="your-account" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="your-account-2">
                  No
                </label>
              </div> <!-- govuk-radios__item -->
            </div> <!-- govuk-radios govuk-radios -->

          </fieldset>

        </div> <!-- govuk-form-group -->

        <br>

        <input type="submit" class="govuk-button" value="Save and continue" id="submit">

    </div>{# /govuk-grid-column-two-thirds #}
  </div>{# /govuk-grid-row #}

</form>

{% endblock %}
