{% extends "layout-signed-out-v11.html" %}

{% block pageTitle %}
    We have sent you a text message with your security code -
        {{ serviceName  }}
    - GOV.UK
{% endblock %}

{% block beforeContent %}
    {% include 'includes/phase-banner.njk' %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="" method="post">

                <!-- <h1 class="govuk-heading-l">We have sent you a text message with your security code</h1> -->
                <h1 class="govuk-heading-l">A 6 digit code has been texted to mobile number ending 789</h1>

                <!-- <p>It should take one minute to arrive.</p> -->
                <p>The code expires after 5 minutes.</p>

                <p>Do not move away from this page before you enter your 6 digit code unless you do not get one within a few minutes.</p>

                <div class="govuk-form-group govuk-!-margin-top-6">
                    <label class="govuk-label" for="2fa-code">
                        Enter your 6 digit code
                    </label>
                    <input class="govuk-input govuk-input--width-10" id="signin-code" name="signin-code" type="text">
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}

                <p><a href="sign-in-resend-2fa" class="govuk-link">I did not get a text message</a></p>


                <p><a href="account-recovery/access" class="govuk-link">I cannot access the mobile phone number I use to sign in</a></p>
            </form>
        </div>
    </div>
{% endblock %}
