{% extends "layout.html" %}

{% block pageTitle %}
  Complex application
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <form id="form" method="post" action="">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          Your application needs to be passed to a team for further invetigations.
        </h1>
        
        <p>You will be asked more questions about how we can contact you so that a Personal Independence Payment (PIP) agent can get more information for your application.</p>
        
        <input type="submit" class="govuk-button" value="Continue" id="submit">

      </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-column-two-thirds -->
  </form>

{% endblock %}
