{% set pageTitle = "What health conditions or disabilities do you have?" %}

{% extends "layout-p5-v12.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5-v12/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5-v12/_beta-banner.html" %}
  {% include "includes/back-link-v12.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post" novalidate>
      <!-- <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      {% for query in data['queriesMedication'] %}
      <dt class="govuk-summary-list__key">
        Medication name
      </dt>
      <dd class="govuk-summary-list__value">
        {{ query.medication }}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden">medicaton name</span>
        </a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
      Dosage
      </dt>
      <dd class="govuk-summary-list__value">
        {{ query.dosage }}
      </dd>
          {% endfor %}
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change<span class="govuk-visually-hidden">dosage</span>
        </a>
      </dd>
    </div> -->

    <h1 class="govuk-heading-l">Medication summary</h1>

  {% for query in data['queriesMedication'] %}

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        text: query.medication
      },

      actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: condition.type + "'s condition"
          },
          {
            href: "#",
            text: "Remove",
            visuallyHiddenText: condition.type + "'s condition"
          }
        ]
      }
    }
  ]
}) }}
  {% endfor %}
    <br>
      {{ govukButton({
        text: 'Save and continue',
        href: "further-treatments"
      }) }}

      {{ govukButton({
      text: "Add another medication",
      classes: "govuk-button--secondary",
      href: "your-medication-another"
    }) }}

    </form>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
