{% extends "layout-signed-in-v12.html" %}

{% block pageTitle %}
Is someone helping you
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-v12.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Is someone helping you with this claim?
            </h1>
          </legend>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Get help
              </span>
            </summary>
            <div class="govuk-details__text">
              <p>If you need someone to help you fill in this claim or to read any letters we send, you could ask a friend, family member or support organisation. If you need help using this service contact:</p>
              <div class="">
                <!-- <p><strong><abbr title=""></abbr>[Name of model office helpline TBC] </strong><br> -->
                  Telephone: 0800 121 6279<br>
                  Textphone: 0800 121 4493<br>
                  <a href="https://www.relayuk.bt.com/">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 6279<br>
                  <a href="https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl">Video relay service</a> for British Sign Language (<abbr
                    title="British Sign Language">BSL</abbr>) users - <a href="https://www.dalanguages.co.uk/dwp-bsl/">check
                    you can use the service</a><br>
                  Monday to Friday, 9am to 5pm.<br>
                  <a href="/call-charges">Find out about call charges</a>
              </div> <!-- indent-hairline -->
            </div> <!-- govuk-details__text -->
          </details>

          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-support-help" name="add-support-help" type="radio"
                value="Yes">
              <label class="govuk-label govuk-radios__label" for="add-support-help">
                Yes
              </label>
            </div> <!-- govuk-radios__item -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-support-help-2" name="add-support-help" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="add-support-help-2">
                No
              </label>
            </div> <!-- govuk-radios__item -->
          </div> <!-- govuk-radios -->
        </fieldset>
      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Save and continue" id="submit">

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-column-two-thirds -->
</form>


{% endblock %}
