{% extends "layout-signed-in-v11.html" %}

{% block pageTitle %}
Additional support name
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-v7.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="add-support-name">
            Name of the person helping you
          </label>
        </h1>
        <div id="account-number-hint" class="govuk-label">
          First name
        </div>
        <input class="govuk-input govuk-input--width-30" id="add-support-first-name" name="add-support-first-name"
          type="text">
        <div id="account-number-hint" class="govuk-label">
          Last name
        </div>
        <input class="govuk-input govuk-input--width-30" id="add-support-last-name" name="add-support-last-name"
          type="text">
      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Save and continue" id="submit">

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-column-two-thirds -->
</form>

{% endblock %}
