{% extends "layout-idv-signed-in.html" %}

{% set pageQuestion = "Enter the pensions and benefits information from your tax return" %}

{% block pageTitle %}
  {{ pageQuestion }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">About your Self Assessment</span>
      <h1 class="govuk-heading-xl">{{ pageQuestion }}</h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>Use a Self Assessment tax return from 2018 to 2019, or 2019 to 2020</li>
        <li>Enter the exact amount without pence, for example, 923</li>
        <li>If a pension or benefit does not apply to you, enter 0</li>
      </ul>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Where to find these details on your tax return
          </span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">Enter the information from your tax return using the numbered boxes to help you.</p>
          <p class="govuk-body">For example, on your tax return:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>State Pension is box 8</li>
            <li>Pensions (other than State Pensions), retirement annuities and taxable lump sums treated as pensions is
              box 11</li>
            <li>Taxable Incapacity Benefit and contribution-based Employment and Support Allowance (ESA) is box 13</li>
            <li>Jobseeker’s allowance is box 15</li>
            <li>Total of any other taxable State Pensions and benefits is box 16</li>
          </ul>
          <h4 class="govuk-heading-s">Online submissions</h4>
          <img src="/public/images/sa-pension-online.png" alt="Photo of online self assessment submission showing described boxes">
          <h4 class="govuk-heading-s govuk-!-margin-top-6">Paper submissions</h4>
          <img src="/public/images/sa-pension-paper.png" alt="Photo of paper self assessment submission form showing described boxes" width="605" height="303">
        </div>
      </details>

      <form class="form" action="/id-verification/v2/documents/tax-credits-q1" method="post">

        {{ govukInput({
          id: "state-pension",
          name: "state-pension",
          label: {
            text: "Box 8",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "State Pension"
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        {{ govukInput({
          id: "pensions",
          name: "pensions",
          label: {
            text: "Box 11",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Pensions (other than State Pensions), retirement annuities and taxable lump sums treated as pensions"
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        {{ govukInput({
          id: "taxable-benefit",
          name: "taxable-benefit",
          label: {
            text: "Box 13",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Taxable Incapacity Benefit and contribution-based Employment and Support Allowance (ESA)"
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        {{ govukInput({
          id: "jobseeker-allowance",
          name: "jobseeker-allowance",
          label: {
            text: "Box 15",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Jobseeker’s allowance"
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        {{ govukInput({
          id: "other-benefits",
          name: "other-benefits",
          label: {
            text: "Box 16",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Total of any other taxable State Pensions and benefits"
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-10",
          spellcheck: false
        }) }}

        <button class="govuk-button" data-module="govuk-button">Save and continue</button>

      </form>

      <p>
        <a href="#">I don't have that information</a>
      </p>

    </div>
  </div>

{% endblock %}
