{% set pageTitle = "Other conditions" %}

{% extends "layout.html" %}

{% block pageTitle %}
  Condition
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}
  {% include "includes/back-link.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-!-font-size-24">You have added details for:
        <br><strong>{{ data['condition-name-1'] | capitalize }}</strong>
        <br><strong>{{ data['condition-name-2'] | capitalize }}</strong>
        <br><strong>{{ data['condition-name-3'] | capitalize }}</strong>
      </p>

      <form id="form" method="post" action="#">

        {{ govukRadios({
          idPrefix: "condition4",
          name: "condition4",
          fieldset: {
            legend: {
              text: "Do you have another condition or disability?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}
