{% set pageTitle = "Health professional details" %}

{% extends "layout-p5-v1-1.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5-v1-1/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5-v1-1/_beta-banner.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Health professional details</h1>

      <p class="govuk-hint">You can add details for other health professionals later if you need to.</p>

      <form action="/p5-v1-1/about-your-health-professionals/another" method="post" novalidate>

        {{ govukInput({
          label: {
            text: "Their name"
          },
          id: "professional-name-1",
          name: "professional-name-1"
        }) }}

        {{ govukInput({
          label: {
            text: "Profession"
          },
          id: "professional-profession-1",
          name: "professional-profession-1"
        }) }}

        {{ govukInput({
          label: {
            text: "Phone number, including dialling code"
          },
          id: "professional-phone-1",
          name: "professional-phone-1",
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-20"
        }) }}


        {% call govukFieldset({
          legend: {
            text: "Their address",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: true
          }
        }) %}

        <span id="address-hint" class="govuk-hint">
          This is where you see them such as the health centre, GP surgery or hospital address.
        </span>

        {{ govukInput({
          label: {
            html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
          },
          id: "professional-address-line-1-1",
          name: "professional-address-line-1-1",
          autocomplete: "address-line1"
        }) }}

        {{ govukInput({
          label: {
            html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
          },
          id: "professional-address-line-2-1",
          name: "professional-address-line-2-1",
          autocomplete: "address-line2"
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          classes: "govuk-!-width-two-thirds",
          id: "professional-address-town-1",
          name: "professional-address-town-1",
          autocomplete: "address-level2"
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          id: "professional-address-postcode-1",
          name: "professional-address-postcode-1",
          autocomplete: "postal-code"
        }) }}

      {% endcall %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="hcp-1-last-contact">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              When did you last speak to them?
            </h1>
          </legend>
          <div id="hcp-1-last-contact" class="govuk-hint">
            This can be approximate – for example, March 2021 or 18 months ago.
          </div>

          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-two-thirds" id="hcp-1-last-contact" name="hcp-1-last-contact"
              type="text" autocomplete="hcp-1-last-contact">
          </div> <!-- govuk-form-group-->

        </fieldset>
      </div> <!-- govuk-form-group -->

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

      {% include "p5-v1-1/about-your-health-professionals/_return-link.html" %}

    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
{% endblock %}
