
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototypes for starting the PIP application journey
      </h1>


      <p>
        These prototypes are experimental pages testing hypothesis and designs for claimants who are starting their PIP application journey.
      </p>

      
    </div>
  </div>

{% endblock %}
