{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


        <div class="govuk-tabs" data-module="govuk-tabs">
            <h1 class="govuk-heading-l">Personal Independent Payment digital service</h1>
            <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#past-day">
                        Prototypes for user testing
                    </a>
                </li>
                <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#past-week">
                        Reference files for Jira stories
                    </a>
                </li>
            </ul>
            <div class="govuk-tabs__panel" id="past-day">
                <h2 class="govuk-heading-l">Prototypes for starting the PIP application journey</h2>
                <p>
                    These prototypes are experimental pages testing hypothesis and designs for claimants who are starting their PIP
                    application journey.
                </p>
                <h2 class="govuk-heading-m">Version 6</h2>
                <p>Version 6: 24th June 2021</p>
                <p>Iterations from UR sessions June (v5)</p>
                <p>Joining up the PIP Starting (PIP1) with the health questionnaire (PIP2)</p>
                <p>Testing alternative 'sign out' link position</p>
                <p>Changing flow of questions: Eligibility, sign in, assisted support, personal details, residence and presence, health questions</p>


                <a href="/v6/gov-uk-eligibility" class="govuk-button govuk-button">View version 6</a>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">Version 5</h2>
                <p>Version 5: 2nd June 2021</p>
                <p>Iterations from UR sessions in May (v4)</p>
                <p>Adding further question to determine residency and presence of the claimant</p>
                <p>Routing exportability (complex cases) to the end of the question flow</p>
                <p>New pattern for health conditions - add another</p>
                <p>Adding health professional data capture</p>
                <p>Removing full IDV check and using register and authentication for the service</p>
                <p>Adding back personal details questions - name, dob, nino</p>
                <p>Adding confirmation of signed in page</p>

                <a href="/v5/gov-uk-eligibility" class="govuk-button govuk-button">View version 5</a>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


                <h2 class="govuk-heading-m">Version 4</h2>
                <p>Version 4: 12 May 2021</p>
                <p>Iterations as per v3b</p>
                <p>Added residency and presence questions</p>
                <a href="/v4/gov-uk-eligibility" class="govuk-button govuk-button">View version 4</a>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">Version 3b</h2>
                <p>Version 3b: 28 April 2021</p>
                <p>Iterations as per v3</p>
                <p>Added identity verification journey at the end of eligiblity check screens</p>
                <p>Demonstrating the 'Save and return' feature</p>
                <a href="/v3b/gov-uk-eligibility" class="govuk-button govuk-button">View version 3b</a>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">Version 3</h2>
                <p>Version 3: 28 April 2021</p>
                <p>Iterations based on UR sessions on 22 and 23 Apr 2021</p>
                <p>Added condition examples e.g. for mental and neurological conditions</p>
                <p>Switched the order of the additional support questions </p>
                <p>Added identity verification journey to the end of the full data capture</p>
                <a href="/v3/gov-uk-eligibility" class="govuk-button govuk-button">View version 3</a>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">Testing IDV</h2>
                <p>Version 2 for IDV testing April 2021</p>
                <p>Testing the IDV service for PIP users</p>
                <a href="/v2idv/" class="govuk-button govuk-button">View version 2</a>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">Version 2b</h2>
                <p>Version 2a April 2021</p>
                <p>Change the flow of questions</p>
                <a href="/v2b/gov-uk-eligibility" class="govuk-button govuk-button">View version 2b</a>

                <h2 class="govuk-heading-m">Version 2a</h2>
                <p>Version 2a April 2021</p>
                <p>Iterations based on UR sessions 8th - 9th April 2021</p>
                <p>Content changes for clearer question understanding</p>
                <p>Adding GOV UK PIP eligiblity page</p>
                <p>Adding Additional Support question flow and capturing health conditions</p>
                <a href="/v2a/gov-uk-eligibility" class="govuk-button govuk-button">View version 2a</a>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">Version 2</h2>
                <p>Version 2 March 2021</p>
                <p>Iterations based on UR sessions 25th - 26th March 2021</p>
                <p>Content updates providing clearer messaging</p>
                <p>Changes to the not eligible screen</p>
                <p>Used for UR on 8th - 9th April 2021</p>
                <a href="/v2/" class="govuk-button govuk-button">View version 2</a>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">Version 1c</h2>
                <p>Version 1c March 2021</p>
                <p>New content for questions and Start page</p>
                <p>Contains one single not eligible page based on users answers</p>
                <p>Includes more complex flow for DWP contacting the user</p>
                <a href="/v1c/" class="govuk-button govuk-button">View version 1c</a>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">Version 1b</h2>
                <p>Version 1b March 2021</p>
                <p>New content for questions and Start page</p>
                <p>Contains individual not eligible pages in the question flow</p>
                <p>Includes more complex flow for DWP contacting the user</p>
                <a href="/v1b/" class="govuk-button govuk-button">View version 1b</a>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">Version 1a</h2>
                <p>Version 1a March 2021</p>

                <p>First version of eligiblity flow questions</p>

                <a href="/v1a/" class="govuk-button govuk-button">View version 1a</a>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">Version 0.2</h2>
                <p>Version 0.2 January 2021</p>

                <p>Changing the not eligible pages to display for each answer not meeting criteria.</p>
                <p>Removing the eligible page.</p>
                <a href="/v0-2/start" class="govuk-button govuk-button">View version 0.2</a>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <h2 class="govuk-heading-m">Version 0.1</h2>
                <p>Version 0.1 January 2021</p>

                <p>Iteration of the proof of concept based on research findings and insight.</p>
                <a href="/v0-1/start" class="govuk-button govuk-button">View version 0.1</a>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <h2 class="govuk-heading-m">Proof of concept</h2>
                <p>Proof of concept for User Research January 2021</p>

                <p>Tested with third party organisations who support citizens with PIP applications</p>
                <a href="/poc/start" class="govuk-button govuk-button">View proof of concept</a>


            </div>
            <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="past-week">
                <h2 class="govuk-heading-l">Reference files</h2>
                
                <h2 class="govuk-heading-m">MVP</h2>
                <p>Reference screens for MVP</p>
                <a href="#" class="govuk-button govuk-button">View MVP screens</a>

            </div>
        </div>

    </div>
</div>


{% endblock %}