@@ -0,0 +1,109 @@
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link-signed-out.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Reference screens version 1 to support JIRA&nbsp;stories</h1>

        <!-- <h2 class="govuk-heading-m">Eligibility</h2> -->
        <!-- <ul class="govuk-list govuk-list--bullet">
            <li><a href="#">How old are you?</a>
                <ul>
                    <li><a href="#">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="#">Over state pension age</a>
                <ul>
                    <li><a href="#">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="#">Do you have a health condition?</a>
                <ul>
                    <li><a href="#">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="#">Will the condition last more than 9 months?</a>
                <ul>
                    <li><a href="#">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="#">Not eligible</a>

            </li>
        </ul>
 -->
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Authenticate and register</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/mvp/sign-in/intro-question">Have you used the PIP Apply service before?</a>
                <ul>
                    <li><a href="#">Validation messages</a></li>
                </ul>
            </li>
            <!-- <li><a href="#">Over state pension age</a>
                <ul>
                    <li><a href="#">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="#">Do you have a health condition?</a>
                <ul>
                    <li><a href="#">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="#">Will the condition last more than 9 months?</a>
                <ul>
                    <li><a href="#">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="#">Not eligible</a>

            </li> -->
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Additional Support</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/mvp/add-support-communicating">Additional Support - communicating</a>
                <ul>
                    <li><a href="/mvp/validation/additional_support/add-support-communicating">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="/mvp/add-support">Additional Support - help to fill in forms and understand letters</a>
                <ul>
                    <li><a href="/mvp/validation/additional_support/add-support">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="/mvp/add-support-help">Additional Support - is someone helping you?</a>
                <ul>
                    <li><a href="/mvp/validation/additional_support/add-support-help">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="/mvp/add-support-help">Additional Support - name of person helping</a>
                <ul>
                    <li><a href="/mvp/validation/additional_support/add-support-name">Validation messages</a></li>
                </ul>
            </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Personal details</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/mvp/name">Your name</a>
                <ul>
                    <li><a href="/mvp/validation/personal_details/name">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="/mvp/nino">Your National Insurance number</a>
                <ul>
                    <li><a href="/mvp/validation/personal_details/nino">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="/mvp/date-of-birth">What is your date of birth?</a>
                <ul>
                    <li><a href="/mvp/validation/personal_details/date-of-birth">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="/mvp/address">Your address</a>
                <ul>
                    <li><a href="/mvp/validation/personal_details/address">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="mvp/address-other">Alternative safe address</a>
                <ul>
                    <li><a href="/mvp/validation/personal_details/address-other">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="#ß">Your contact details - in design refinement</a>
                <ul>
                    <li><a href="/mvp/validation/personal_details/contact-details">Validation messages</a></li>
                </ul>
            </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Residence and presence</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/mvp/living-in-gb">Have you been in the UK for 2 of the last 3 years</a>
                <ul>
                    <li><a href="/mvp/validation/res_and_pres/living-in-gb">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="/mvp/eu-question">Do you or a family get and payments from an EU country?</a>
                <ul>
                    <li><a href="/mvp/validation/res_and_pres/eu-question">Validation messages</a></li>
                </ul>
            </li>
            <!-- <li><a href="/mvp/add-support-help">Additional Support - is someone helping you?</a>
                <ul>
                    <li><a href="/mvp/validation/additional_support/add-support-help">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="/mvp/add-support-help">Additional Support - name of person helping</a>
                <ul>
                    <li><a href="/mvp/validation/additional_support/add-support-name">Validation messages</a></li>
                </ul>
            </li> -->
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">About your health</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/mvp/about_your_health/condition-new-2">Health conditions</a>
                <ul>
                    <li><a href="#">Validation messages (to follow)</a></li>
                </ul>
            </li>
            <li><a href="/mvp/about_your_health/consent">Consent for HCP to share info</a>
                <ul>
                    <li><a href="/mvp/validation/about_your_health/consent">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="/mvp/about_your_health/hcp-question">Health Professionals question</a>
                <ul>
                    <li><a href="/mvp/validation/about_your_health/hcp-question">Validation messages</a></li>
                </ul>
            </li>

            <li><a href="/mvp/about_your_health/hcp-another">Are there any other health professionals we can contact?</a>
                <ul>
                    <li><a href="/mvp/validation/about_your_health/hcp-another">Validation messages</a></li>
                </ul>
            </li>


            <li><a href="/mvp/in-hospital">Are you currently in hospital, a hospice, or care or nursing home?</a>
                <ul>
                    <li><a href="/mvp/validation/about_your_health/in-hospital">Validation messages (to follow)</a></li>
                </ul>
            </li>
            <li><a href="/mvp/hospital-address">Hospital address</a>
                <ul>
                    <li><a href="/mvp/validation/about_your_health/hospital-address">Validation messages (to follow)</a></li>
                </ul>
            </li>
            <li><a href="/mvp/hospice-address">Hospice address</a>
                <ul>
                    <li><a href="/mvp/validation/about_your_health/hospice-address">Validation messages (to follow)</a></li>
                </ul>
            </li>

            <li><a href="/mvp/care-home-address">Care Home address</a>
                <ul>
                    <li><a href="/mvp/validation/about_your_health/care-home-address">Validation messages (to follow)</a></li>
                </ul>
            </li>

            <li><a href="/mvp/hospital-admission">Hospital admission date</a>
                <ul>
                    <li><a href="/mvp/validation/about_your_health/hospital-admission">Validation messages (to follow)</a></li>
                </ul>
            </li>

            <li><a href="/mvp/hospice-admission">Hospice admission date</a>
                <ul>
                    <li><a href="/mvp/validation/about_your_health/hospice-admission">Validation messages (to follow)</a></li>
                </ul>
            </li>

            <li><a href="/mvp/care-home-admission">Care home admission date</a>
                <ul>
                    <li><a href="/mvp/validation/about_your_health/care-home-admission">Validation messages (to follow)</a></li>
                </ul>
            </li>

        </ul>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Check answers and form submission</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/mvp/check-answers">Check your answers</a>
            </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Motability</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/mvp/motability-scheme">Consent to receive Motability Scheme info</a>
              <ul>
                <li><a href="/mvp/validation/motability/motability-scheme">Validation messages</a>
              </ul>
            </li>
        </ul>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



    </div> <!-- govuk-column-full-->
</div> <!-- govuk-grid row -->
{% endblock %}
