@@ -0,0 +1,109 @@
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% include "includes/back-link-signed-out.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Reference screens version 1 to support JIRA&nbsp;stories</h1>

        <h2 class="govuk-heading-m">Eligibility</h2>
        <!-- <ul class="govuk-list govuk-list--bullet">
            <li><a href="#">How old are you?</a>
                <ul>
                    <li><a href="#">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="#">Over state pension age</a>
                <ul>
                    <li><a href="#">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="#">Do you have a health condition?</a>
                <ul>
                    <li><a href="#">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="#">Will the condition last more than 9 months?</a>
                <ul>
                    <li><a href="#">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="#">Not eligible</a>
                
            </li>
        </ul>
 -->
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Authenticate and register</h2>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Assisted Support</h2>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Personal details</h2>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="/mvp/name">Your name</a>
                <ul>
                    <li><a href="/mvp/validation/name">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="/mvp/nino">Your National Insurance number</a>
                <ul>
                    <li><a href="/mvp/validation/nino">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="/mvp/date-of-birth">What is your date of birth?</a>
                <ul>
                    <li><a href="/mvp/validation/date-of-birth">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="/mvp/address">Your address</a>
                <ul>
                    <li><a href="/mvp/validation/address">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="/mvp/address-other">Alternative safe address</a>
                <ul>
                    <li><a href="/mvp/validation/address-other">Validation messages</a></li>
                </ul>
            </li>
            <li><a href="/mvp/contact-details">Your contact details</a>
                <ul>
                    <li><a href="/mvp/validation/contact-details">Validation messages</a></li>
                </ul>
            </li>
        </ul>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">    

        <h2 class="govuk-heading-m">Residence and presence</h2>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">About your health</h2>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">Check answers and form submission</h2>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-m">We need to get in touch - complex cases</h2>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div> <!-- govuk-column-full-->
</div> <!-- govuk-grid row -->
{% endblock %}