{% set pageTitle = "Check your answers: about your health professionals" %}

{% extends "layout-p5-v12.html" %}

{% block pageTitle %}
  {{ pageTitle }} {% include "p5-v12/_page-title-slug.html" %}
{% endblock %}

{% block beforeContent %}
  {% include "p5-v12/_beta-banner.html" %}
  {% include "includes/back-link-v12.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if getData.remove == "true" %}
      <div class="moj-banner moj-banner--success">
        <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25"><path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path></svg>
        <div class="moj-banner__message">
          <span class="moj-banner__assistive">Success</span>[Health professional name] has been removed</div>
      </div>{# /moj-banner #}
    {% endif %}

    <h1 class="govuk-heading-l">Check your answers: about your health professionals</h1>

    <section class="app-summary-card govuk-!-margin-bottom-6">

      <header class="app-summary-card__header">
        <h2 class="govuk-heading-m">
          {{ data['hcp-1-name'] | title }}
        </h2>
        <div class="app-summary-card__actions">
          <a class="govuk-link" href="check-remove.html">Remove<span class="govuk-visually-hidden"> {{ data['hcp-1-name'] | title }}</span>
          </a>
        </div>{# /app-summary-card__actions #}
      </header>

      <div class="app-summary-card__body">
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Details"
              },
              value: {
              html: '<p class="govuk-body">' +
                data["hcp-1-name"] | title + '<br>' +
                data["hcp-1-profession"] | title + '<br>' +
                data["hcp-1-phone"] | title + '<br>' +
                data["hcp-1-address-line-1"] | title + '<br>' +
                data["hcp-1-address-line-2"] | title + '<br>' +
                data["hcp-1-address-town"] | title + '<br>' +
                data["hcp-1-address-county"] | title + '<br>' +
                data["hcp-1-address-postcode"] | upper + '<br>' +
                data["hcp-1-address-country"] | title + '<br>' +
                'When did you last speak to them: ' + data["hcp-1-last-contact"] + '</p>'
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: " details for "
                  }
                ]
              }
            }
          ]
        }) }}
      </div>{# /app-summary-card__body #}
    </section>

    {% if data['hcp-2'] == "Yes" %}

      <section class="app-summary-card govuk-!-margin-bottom-6">

        <header class="app-summary-card__header">
          <h2 class="govuk-heading-m">
            {{ data['hcp-2-name'] | title }}
          </h2>
          <div class="app-summary-card__actions">
            <a class="govuk-link" href="#">Remove<span class="govuk-visually-hidden"> {{ data['professional-name-2'] | title }}</span>
            </a>
          </div>{# /app-summary-card__actions #}
        </header>

        <div class="app-summary-card__body">
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Details"
                },
                value: {
                html: '<p class="govuk-body">' +
                  data["hcp-2-name"] | title + '<br>' +
                  data["hcp-2-profession"] | title + '<br>' +
                  data["hcp-2-phone"] | title + '<br>' +
                  data["hcp-2-address-line-1"] | title + '<br>' +
                  data["hcp-2-address-line-2"] | title + '<br>' +
                  data["hcp-2-address-town"] | title + '<br>' +
                  data["hcp-2-address-county"] | title + '<br>' +
                  data["hcp-2-address-postcode"] | upper + '<br>' +
                  data["hcp-2-address-country"] | title + '<br>' +
                  'When did you last speak to them: ' + data["hcp-2-last-contact"] + '</p>'
                },
                actions: {
                  items: [
                    {
                      href: "#",
                      text: "Change",
                      visuallyHiddenText: " details for "
                    }
                  ]
                }
              }
            ]
          }) }}
        </div>{# /app-summary-card__body #}
      </section>

    {% endif %}

    {% if data['hcp-3'] == "Yes" %}
    <section class="app-summary-card govuk-!-margin-bottom-6">

      <header class="app-summary-card__header">
        <h2 class="govuk-heading-m">
          {{ data['hcp-3-name'] | title }}
        </h2>
        <div class="app-summary-card__actions">
          <a class="govuk-link" href="check-remove.html">Remove<span class="govuk-visually-hidden"> {{ data['hcp-3-name'] | title }}</span>
          </a>
        </div>{# /app-summary-card__actions #}
      </header>

      <div class="app-summary-card__body">
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Details"
              },
              value: {
              html: '<p class="govuk-body">' +
                data["hcp-3-name"] | title + '<br>' +
                data["hcp-3-profession"] | title + '<br>' +
                data["hcp-3-phone"] | title + '<br>' +
                data["hcp-3-address-line-1"] | title + '<br>' +
                data["hcp-3-address-line-2"] | title + '<br>' +
                data["hcp-3-address-town"] | title + '<br>' +
                data["hcp-3-address-county"] | title + '<br>' +
                data["hcp-3-address-postcode"] | upper + '<br>' +
                data["hcp-3-address-country"] | title + '<br>' +
                'When did you last speak to them: ' + data["hcp-3-last-contact"] + '</p>'
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: " details for "
                  }
                ]
              }
            }
          ]
        }) }}
      </div>{# /app-summary-card__body #}
    </section>

    {% endif %}

    <p><a href="health-professional.html">Add another health professional</a></p>

    <p><a href="../list-1?aboutyourhealthprofessionals=completed" class="govuk-button">Confirm and save</a></p>

  </div><!-- govuk-grid-column-two-thirds -->
</div><!-- govuk-grid-row -->
{% endblock %}
