{% extends "layout-signed-in-v7.html" %}

{% block pageTitle %}
Is someone helping you
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-experimental.html" %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
                Is there anything else you would like to tell us about?
            </h1>
          </legend>
          <div id="mobility-activity-hint" class="govuk-hint">
            <p>Tell us anything else you think we should know that you have not already told us about how your health conditions or disabilities affects you. </p>
            <p>Carers, friends or family who want to give us additional information can also do so here. </p>
          </div>

          <div class="govuk-radios govuk-radios--inline">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-support-help" name="add-support-help" type="radio"
                value="Yes">
              <label class="govuk-label govuk-radios__label" for="add-support-help">
                Yes
              </label>
            </div> <!-- govuk-radios__item -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="add-support-help-2" name="add-support-help" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="add-support-help-2">
                No
              </label>
            </div> <!-- govuk-radios__item -->
          </div> <!-- govuk-radios -->
        </fieldset>
      </div> <!-- govuk-form-group -->

      <input type="submit" class="govuk-button" value="Save and continue" id="submit">

    </div> <!-- govuk-grid-column-two-thirds -->
  </div> <!-- govuk-grid-column-two-thirds -->
</form>


{% endblock %}
