{% extends "layout-signed-in-mvp.html" %}

{% block pageTitle %}
Check your answers final
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-experimental.html" %}
{% endblock %}

{% block content %}


<form id="form" method="post" action="/experimental/linear_journey/additional_information/additional-information-question">

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    <h1 class="govuk-heading-l">
                        Check your answers
                    </h1>

                    <h2 class="govuk-heading-m">Which activities do your conditions or disabilities affect?</h2>

                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Preparing food
                            </dt>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="preparing_food/preparing-food-detail">
                                    Change<span class="govuk-visually-hidden"> preparing food</span>
                                </a> | <a class="govuk-link" href="#">Remove</a>
                            </dd>
                        </div> <!-- govuk-summary-list__row -->

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Eating and drinking
                            </dt>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="eating_and_drinking/eating-and-drinking-detail.html">
                                    Change<span class="govuk-visually-hidden"> eating and drinking</span>
                                </a>| <a class="govuk-link" href="#">Remove</a>
                            </dd>
                        </div> <!-- govuk-summary-list__row -->

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Managing medecines and treatments
                            </dt>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> eating and drinking</span>
                                </a>| <a class="govuk-link" href="#">Remove</a>
                            </dd>
                        </div> <!-- govuk-summary-list__row -->

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Washing and bathing
                            </dt>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="washing_and_bathing/washing-and-bathing-detail.html">
                                    Change<span class="govuk-visually-hidden"> washing and bathing</span>
                                </a>| <a class="govuk-link" href="#">Remove</a>
                            </dd>
                        </div> <!-- govuk-summary-list__row -->

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Using the toilet and managing incontenence
                            </dt>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> eating and drinking</span>
                                </a>| <a class="govuk-link" href="#">Remove</a>
                            </dd>
                        </div> <!-- govuk-summary-list__row -->

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Dressing and undressing
                            </dt>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="dressing_and_undressing/dressing-and-undressing-detail.html">
                                    Change<span class="govuk-visually-hidden"> dressing and undressing</span>
                                </a>| <a class="govuk-link" href="#">Remove</a>
                            </dd>
                        </div> <!-- govuk-summary-list__row -->

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Talking, listening and understanding
                            </dt>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> talking, listening and understaning</span>
                                </a>| <a class="govuk-link" href="#">Remove</a>
                            </dd>
                        </div> <!-- govuk-summary-list__row -->

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Reading
                            </dt>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> reading </span>
                                </a>| <a class="govuk-link" href="#">Remove</a>
                            </dd>
                        </div> <!-- govuk-summary-list__row -->

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Mixing with other people
                            </dt>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="mixing_with_other_people/mixing-with-others-detail.html">
                                    Change<span class="govuk-visually-hidden"> mixing with other people</span>
                                </a>| <a class="govuk-link" href="#">Remove</a>
                            </dd>
                        </div> <!-- govuk-summary-list__row -->

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Managing money
                            </dt>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> managing money</span>
                                </a>| <a class="govuk-link" href="#">Remove</a>
                            </dd>
                        </div> <!-- govuk-summary-list__row -->

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                               Planning and following a journey
                            </dt>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> dressing and undressing</span>
                                </a>| <a class="govuk-link" href="#">Remove</a>
                            </dd>
                        </div> <!-- govuk-summary-list__row -->

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Moving around
                            </dt>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="moving_around/moving-around-detail.html">
                                    Change<span class="govuk-visually-hidden"> moving around</span>
                                </a>| <a class="govuk-link" href="#">Remove</a>
                            </dd>
                        </div> <!-- govuk-summary-list__row -->


                    </dl>

                    <!-- <div class="govuk-link govuk-!-margin-bottom-7"><a href="activities-with-hints" class="govuk-link">Add more actiivities your condition or disability affects</a></div> -->

                    <h2 class="govuk-heading-m">Additional informatoin</h2>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Additional information
                            </dt>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="additional_information/additional-information-detail">
                                    Change<span class="govuk-visually-hidden"> preparing food</span>
                                </a> | <a class="govuk-link" href="#">Remove</a>
                            </dd>
                        </div> <!-- govuk-summary-list__row -->
                    </dl>

                    <h2 class="govuk-heading-m">Supporting documents</h2>
                    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                Supporting documents
                            </dt>

                            <dd class="govuk-summary-list__actions">
                                <a class="govuk-link" href="#">
                                    Change<span class="govuk-visually-hidden"> preparing food</span>
                                </a> | <a class="govuk-link" href="#">Remove</a>
                            </dd>
                        </div> <!-- govuk-summary-list__row -->
                    </dl>

                    <input type="submit" class="govuk-button" data-module="govuk-button" value="Save and continue" id="submit">



                </div> <!-- govuk-grid-column-two-thirds-from-desktop -->
            </div> <!-- govuk-grid-row -->

        </main>
    </div> <!-- govuk-width-container -->

</form>

{% endblock %}
