{% extends "layout-signed-in-v7.html" %}

{% block pageTitle %}
  Confirmation
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.html" %}

{% endblock %}

{% block content %}
<form id="form" method="post" action="#">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Stage one submitted
          </h1>
          <div class="govuk-panel__body">
            You must submit further details by <br><strong>10th June 2022</strong>.
          </div>
        </div>

      <!-- <p class="govuk-body">Your reference is your National Insurance number.</p> -->

      <!-- <p class="govuk-body">If you're awarded PIP, your payments will start from today.</p> -->

      <h1 class="govuk-heading-m">What to do next</h1>

      <p class="govuk-body">In the next stage, describe how your conditions or disabilities affect your ability to do certain everyday tasks and get around.</p>

      <p class="govuk-body">You must complete and submit this stage by 10th June 2022. If you do not, we may end your PIP claim.</p>

      <p class="govuk-body">You can also upload any supporting evidence if you have any. You can do this before and after you submit the rest of your claim.</p>
      <!-- <input type="submit" class="govuk-button" value="Tell us how your conditions affect you" id="submit"> -->

      <!-- <p class="govuk-body">If you are getting Disability Living Allowance at the moment, this will stop if you do not send your answers and upload any evidence you have by this date.</p> -->

      <a href="start.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
        Continue your claim
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg>
      </a>

      <p class="govuk-body">If you need more time to finish your claim, contact:</p>

      <p class="govuk-body">Telephone: 0800 121 6279 <br>
        Textphone: 0800 121 4493 if you have speech or hearing difficulties</p>


      <p class="govuk-body">You can <a href="/v7/signed-out">sign out</a> of the service and return to it later to finish your application.</p>



      <!-- <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
        Sign out
      </button> -->


    </div>{# /govuk-grid-column-one-third #}
  </div>{# /govuk-grid-row #}
</form>

{% endblock %}
