{% extends "layout-signed-in-mvp.html" %}

{% block pageTitle %}
Mobility activity list
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-v7.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset" aria-describedby="mobility-activity-hint">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                <h1 class="govuk-fieldset__heading">
                                    Which mobility activities does your condition or disablity affect?
                                </h1>
                            </legend>
                            <div id="mobility-activity-hint" class="govuk-hint">
                                Select all that apply.
                            </div>
                            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="mobility-activity" name="mobility-activity" type="checkbox"
                                        value="carcasses">
                                    <label class="govuk-label govuk-checkboxes__label" for="mobility-activity">
                                        Planning and following a journey
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="mobility-activity-2" name="mobility-activity" type="checkbox"
                                        value="mines">
                                    <label class="govuk-label govuk-checkboxes__label" for="mobility-activity-2">
                                        Moving around
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="mobility-activity-3" name="mobility-activity" type="checkbox"
                                        value="farm">
                                    <label class="govuk-label govuk-checkboxes__label" for="mobility-activity-3">
                                       None of these
                                    </label>
                                </div>
                            </div>

                        </fieldset>
                    
                    </div> <!-- govuk-form-group -->

                    <input type="submit" class="govuk-button" value="Save and continue" id="submit">
                   
                </div> <!-- govuk-grid-column-two-thirds-from-deskto-->
            </div> <!-- govuk-grid-row -->
        </main>            
   </div> <!-- govuk-width-container -->                 
</form>

{% endblock %}