{% extends "layout-idv.html" %}

{% set pageQuestion = "Are you using the Apply for PIP service online for the first time?" %}

{% block pageTitle %}
  {{ pageQuestion }}  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form id="form" method="post" action="#">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="new-existing-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                {{ pageQuestion }}
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="new-existing-1" name="new-existing" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="new-existing-1">
                  Yes, I need to create a password
                </label>
              </div> <!-- govuk-radios__item -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="new-existing-2" name="new-existing" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="new-existing-2">
                  No, I already have a password
                </label>
              </div> <!-- govuk-radios__item -->
            </div> <!-- govuk-radios govuk-radios -->
          </fieldset>
        </div> <!-- govuk-form-group -->

        <input type="submit" class="govuk-button" value="Continue" id="submit">

      </form>

    </div>
  </div>
{% endblock %}
