{% extends "layout-signed-in-v12.html" %}

{% block pageTitle %}
Alternative contact format email address
{% endblock %}

{% block beforeContent %}
{% include "includes/phase-banner.html" %}
{% include "includes/back-link-v12.html" %}
{% endblock %}

{% block content %}

<form id="form" method="post" action="#">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="alt-formats-other-email">
                    What is your email address?
                  </label>
                </h1>
                <input class="govuk-input" id="alt-formats-other-email" name="alt-formats-other-email" type="text">
            </div> <!-- govuk-form-group -->

            <p class="govuk-body">The Department for Work and Pensions may contact you to discuss your communication needs.</p>

            <input type="submit" class="govuk-button" value="Save and continue" id="submit">

       </div> <!-- govuk-grid-column-two-thirds -->
    </div> <!-- govuk-grid-row -->
</form>

{% endblock %}
