<!-- <p><strong><abbr title="Personal Independence Payment"></abbr>[Name of helpline TBC]</strong><br> -->
<p>Telephone: 0800 121 6279<br>
Textphone: 0800 121 4493<br>
<a href="https://www.relayuk.bt.com//">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0800 121 4433<br>
<a href="https://connect.interpreterslive.co.uk/vrs?ilc=DWP">Video relay service</a> for British Sign Language (<abbr title="British Sign Language">BSL</abbr>) users - <a href="https://www.youtube.com/watch?v=oELNMfAvDxw">check you can use the service</a><br>
Monday to Friday, 9am to 5pm. <br>
<!-- Closed on public holidays.<br> -->
<a href="/call-charges">Find out about call charges</a></p>


<!-- <p>Calling from abroad: +44 191 218 7766<br>
Monday to Friday, 9am to 5pm</p> -->
